

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" (click)="onSwitch(true)" style="background-color: #438D80;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Active Sync Activity
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
                               Total Active
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" (click)="onSwitch(false)" style="background-color: #145A32;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Inactive Sync Activity
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
                                Total Inactive
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-active *ngIf="status"></app-active>

    <app-inactive *ngIf="!status"></app-inactive>
</div>