<app-notification></app-notification>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login" style="background-image: url(./assets/img/bg.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack centre m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="#">
							<img class="nibss" src="./assets/app/media/img/logos/nibs.png" height="30%" width="30%">
						</a>
					</div>
					<div class="m-login__signin">
						<div class="ori m-login__head">
							<h3 class="ori m-login__title" style="color: #e19900">
								Sign In BVN Portal
							</h3>
						</div>
						<form [formGroup]="createForm" #f="ngForm" novalidate (submit)="signin()" class="m-login__form m-form">
							<!--<ng-template #alertSignin></ng-template>-->
							<div class="form-group row">
								<div class="col-sm-12">
									<input type="text" class="form-control inputtext" placeholder="Username"  formControlName="username" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-12">
									<input type="password" class="form-control m-input m-login__form-input--last" placeholder="Password"  formControlName="password">
								</div>
							</div>
							<div class="row m-login__form-sub">
								<div class="col m--align-right">
									<a href="javascript:void(0)" id="m_login_forget_password" class="homeCol" style="color: #e19900">
										Forgot Password?
									</a>
								</div>
							</div>
							<div class="m-login__form-action">
								<button [disabled]="createForm.invalid" type="submit" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Sign In
								</button>
							</div>
						</form>
					</div>
					<app-reset-password></app-reset-password>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Terms And Conditions</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>

		</div>
	</div>
</div>