<!--Password modal starts here -->
<app-change-password></app-change-password>
<!--Password modal ends here-->

<div class="m-content">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="../../../../../assets/img/profilepix.png" alt=""/>
							</div>
						</div>
						<div class="m-card-profile__details" *ngIf="details">
							<span class="m-card-profile__name">
								{{details?.user?.name?.firstName}} {{details?.user?.name?.lastName}}
							</span>
							<a class="m-card-profile__email m-link">
								{{details?.user?.emailAddress}}
							</a>
						</div><br>
						<div class="m-card-profile__details" *ngIf="details">
							<span class="m-card-profile__name">
								<span style="font-size: 14px">Role: </span>{{details?.user?.role?.name}}
							</span>
						</div>
						<div class="m-card-profile__details" *ngIf="details">
							<span class="m-card-profile__name">
								<span style="font-size: 14px">Institution: </span>{{details?.agentManagerInstitution?.name}}
							</span>
						</div>
					</div><br>
					<!--<div class="m-widget1 m-widget1&#45;&#45;paddingless">
						<div class="m-widget1__item">
							<div class="row m-row&#45;&#45;no-padding align-items-center">
								<div class="col">
									<h2 class="m-widget1__title text-center" style="padding-bottom: 10px">
										Roles Module(s)
									</h2>
									<div class="row m-row&#45;&#45;no-padding align-items-center">
										&lt;!&ndash; Accordion &ndash;&gt;
										<div id="accordion" class="col-md-12">
											<div class="card" *ngFor="let task of list?.moduleName; let i=index">
												<div class="card-header" id="headingOne">
													<h5 class="mb-0">
														<button  style="font-weight: bold" class="btn btn-link" data-toggle="collapse" [attr.data-target]="selectedModule"
																aria-expanded="true" aria-controls="collapseOne" (click)="selectTask(task)">
															{{task}}
														</button>
													</h5>
												</div>

												<div id="collapseOne{{task}}" class="collapse hide" aria-labelledby="headingOne"
													 data-parent="#accordion" *ngIf="showDrop">
													<div class="card-body">
														<div class="m-form__group form-group">
															<div class="col-md-12" *ngFor="let selected of list?.moduleTasks; let i = index">
																<table>
																	<tr>
																		<td>Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
																		<td style="font-size: 14px; font-weight: bold">{{selected.name}}</td>
																	</tr>
																	<tr>
																		<td>Description: &nbsp;&nbsp;&nbsp;&nbsp;</td>
																		<td style="font-size: 14px; font-weight: bold">{{selected.description}}</td>
																	</tr>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										&lt;!&ndash; Accordion Ends &ndash;&gt;

									</div>
								</div>
								</div>
						</div>
					</div>-->
					<div class="m-widget1 m-widget1--paddingless">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col ml-lg-6 ml-sm-4">
									<div class="row m-row--no-padding align-items-center"  ngbTooltip="Change Password" placement="bottom" (click)="openPasswordModal()">
										<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air text-capitalize text-center" style="padding: 10px;">Change Password</button>
										

									</div>
								</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body" *ngIf="details">
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Personal Details <a routerLink="/dashboard">/ Home </a>
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Full Name
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.name?.firstName}} {{details?.user?.name?.lastName}}" disabled>
									</div>
								</div>
								<div class="form-group m-form__group row" *ngIf="details?.user?.userType === 'NIBSS'">
									<label for="example-text-input" class="col-2 col-form-label">
										Staff Number
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.staffNumber}}" disabled>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										User Type
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.userType}}" disabled>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Phone No.
									</label>
									<div class="col-7">
										<div *ngFor="let phone of details?.user?.phoneList">
											<input class="form-control m-input" type="text" value="{{phone}}" disabled>
										</div>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Address
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.contactDetails?.streetNumber}}" disabled>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										City
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.contactDetails?.city}}" disabled>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										LGA
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.contactDetails?.lga?.name}}" disabled>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										State
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{details?.user?.contactDetails?.lga?.state?.name}}" disabled>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
