<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    <span class="text-capitalize">Change Password</span></h3>
                <button type="button" class="close" (click)="clearData()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="changePasswordForm" novalidate (submit)="changeUserPassword()" method="post">
            <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Current Password</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="password"  placeholder="Password" #oldPassword
                                           formControlName="oldPassword" [(ngModel)]="changePwd.oldPassword"
                                           autocomplete="off" required>
                                    <div *ngIf="changePasswordForm.get('oldPassword').invalid && changePasswordForm.get('oldPassword').touched" class="alert alert-danger text-center">
                                        Password is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>New Password</label></div>

                                <div class="form-group m-form__group col-md-9" *ngIf="changePwd['oldPassword']?.length < 7">
                                    <input class="form-control m-input" type="password" placeholder="New Password" disabled="disabled" autocomplete="off"  />
                                </div>

                                <div class="form-group m-form__group col-md-9" *ngIf="changePwd['oldPassword']?.length >= 7">
                                    <input class="form-control m-input" type="password" placeholder="New Password"
                                           [(ngModel)]="changePwd.newPassword" id="newPasswordSetter"
                                           formControlName="newPassword" (keyup)="passwordService.testPassword(changePwd.newPassword, minLength);updateRePassword()" autocomplete="off" required />



                                    <div class="alert alert-danger text-center"
                                         *ngIf="(changePasswordForm.get('newPassword').errors && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched))">
                                        <span [hidden]="!changePasswordForm.get('newPassword').hasError('required')">
                Password is Required</span>
                                        <br *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                                        <span  [hidden]="!changePasswordForm.get('newPassword').hasError('minlength')">
                Password length must be greater than {{minLength-1}}</span>

                                    </div>



                                <div *ngIf="changePwd['newPassword']?.length > (minLength-1)">
                                    <br *ngIf="changePasswordForm.get('newPassword').hasError('required') || changePasswordForm.get('newPassword').hasError('minlength')">
                                    <span class="text-danger font-weight-bold" [hidden]="!(passwordService.strength <= 5)">Password Strength: WEAK</span>
                                    <span class="text-warning font-weight-bold" [hidden]="!(passwordService.strength > 5 && passwordService.strength < 7)">Password Strength: GOOD</span>
                                    <span class="text-success font-weight-bold" [hidden]="!(passwordService.strength >= 7)">Password Strength: STRONG</span></div></div>


                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Confirm Password</label></div>
                                <div class="form-group m-form__group col-md-9" *ngIf="!booleans?.rePassword">
                                    <input class="form-control m-input" type="password" placeholder="Confirm Password" disabled="disabled" autocomplete="off"  />
                                </div>

                                <div class="form-group m-form__group col-md-9" *ngIf="passwordService.strength >= 5">
                                    <input class="form-control m-input" type="password" placeholder="Confirm Password"
                                           formControlName="reNewPassword" [(ngModel)]="changePwd.reNewPassword"
                                           autocomplete="off" required>


                                    <div class="alert alert-danger text-center"
                                         *ngIf="changePasswordForm.get('reNewPassword').errors && (changePasswordForm.get('reNewPassword').dirty || changePasswordForm.get('reNewPassword').touched)">
                                        <span [hidden]="!changePasswordForm.get('reNewPassword').hasError('required')">
                Password is Required</span>
                                    </div>
                                    <div class="alert alert-danger text-center"
                                         *ngIf="changePasswordForm.get('reNewPassword').touched && !changePasswordForm.get('reNewPassword').errors && changePwd['newPassword'] !== changePwd['reNewPassword']">
                                        <span class="">Passwords must be the same!</span>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>



            </div>
            <div class="modal-footer">
                <button  type="button" data-dismiss="modal" aria-label="Close" (click)="clearData()"
                         class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="submit" *ngIf="booleans.enableBtnSubmit"
                        [disabled]="!changePasswordForm.valid || passwordService.strength < 5 || (changePwd['newPassword'] !== changePwd['reNewPassword'])"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Proceed </span>
                </button>
                <span  *ngIf="!booleans.enableBtnSubmit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> <i class="fa fa-spinner fa-spin"></i>&nbsp;Loading... </span>
                </span>

            </div>
            </form>
        </div>
    </div>
</div>
