<div class="modal fade" id="viewModal_1" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Agent Manager Transaction Report</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list">
                <table>
                    <tr>
                        <td class="viewContent">Agent Manager Code</td>
                        <td class="maintext viewContent">
                            {{list?.data?.code}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Agent Code</td>
                        <td class="maintext viewContent">
                            {{list?.data?.agentCode}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Transaction Amount Per Channels</td>
                        <td class="maintext viewContent">
                            <table class="table table-striped">
                                <tr>
                                    <th>Service Provided</th>
                                    <th>Amount</th>
                                </tr>
                                <tr *ngFor="let task of list?.data?.transactionAmountPerChannels">
                                    <td>{{task?.servicesProvided | removeUnderscore}}</td>
                                    <td>{{task?.amount}}</td>
                                </tr>
                                <tr *ngIf="list?.data?.transactionAmountPerChannels?.length === 0">
                                    <td class="text-center" colspan="2">No Content Found</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Transaction Date</td>
                        <td class="maintext viewContent">
                            {{list?.data?.transactionDate}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Created</td>
                        <td class="maintext viewContent">
                            {{list?.data?.created_at}}
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>


<!--<div class="m-content" *ngIf="role === 'NIBSS'>-->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="cursor: pointer">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span  class="cursorpointer" (click)="getAgentMgrReport(0)">Agent Manager Transaction Report</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <span class="text-center">
                                    <div class="row" style="margin-top: 5% !important; padding-left: 10%; padding-right: 10%">
                                        <div class="col-md-3 col-xl-3 col-lg-3">
                                                <a class="btn btn-secondary dropdown-toggle  searchStyle" id="dropdownMenuLink"
                                                   data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    {{searchOption}}
                                                </a>
                                                <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>
                                                    <a class="dropdown-item showCursor" (click)="onSearchType('Date')">Date</a>
                                                </div>
                                        </div>
                                        <input *ngIf="searchOption === 'Username'"
                                               class="form-control  col-md-6 col-xl-6 col-lg-6"
                                               [disabled]="searchOption === 'Search Type'"
                                               placeholder="Enter {{searchOption}}" [(ngModel)]="searchtext"
                                               style="height: 40px !important; width: auto"/>

                                        <input *ngIf="searchOption === 'Date'"  class="form-control  col-md-3 col-xl-3 col-lg-3"
                                               placeholder="From Date" [(ngModel)]="fromDate"
                                               style="height: 40px !important; width: auto "
                                               ngbDatepicker #d1="ngbDatepicker"
                                               (click)="d1.toggle()"/>

                                        <input *ngIf="searchOption === 'Date'"  class="form-control col-md-3 col-xl-3 col-lg-3"
                                               placeholder="To Date" [(ngModel)]="toDate"
                                               style="height: 40px !important; width: auto"
                                               ngbDatepicker #d2="ngbDatepicker"
                                               (click)="d2.toggle()"/>

                                        <div class="col-md-3 col-xl-3 col-lg-3">
                                            <button (click)="searchMethod(0)"
                                                    [disabled]="booleans?.loadingSearch || !toDate || !fromDate" class="btn btn-sm"
                                                    style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                                <i class="fa fa-search"></i> &nbsp;Search
                                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                                            </button>
                                        </div>

                                    </div>
                                </span>

                <div class="m-portlet__body table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Agent Manager Code</th>
                            <th scope="col">Agent Code</th>
                            <th scope="col">Transaction Date</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{ member?.code}}</td>
                            <td>{{ member?.agentCode}}</td>
                            <td>{{ member?.transactionDate}}</td>
                            <td>{{ member?.created_at}}</td>
                            <td><button class="btn btn-info"><i class="fa fa-eye" (click)="onOpenModal(member)"></i></button></td>

                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && booleans?.loader">
                            <td colspan="7" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading Sync report(s)
                            </td>
                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && !booleans?.loader">
                            <td colspan="7" class="text-center">No Content Found</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
