.textColor{
    color: #FFFFFF !important;
}

.hover-me:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05,1.05);
    position: inherit;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-out;
}