.centre {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -12em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
}


/* .bg {
    background-image: url(../../../../app/media/img/bg/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover
} */

.tag {
    color: smokegreen !important;
}

.homeCol {
    color: #575962;
}

.ori {
    color: white;
}

.nibss {
    height: 50%;
    width: 50%
}

.terms {
    text-decoration: none;
    color: lightgreen;
}

.terms:hover {
    color: green;
}


/* .inputtext {
    color: White;
} */

.md-form input {
    color: black !important;
    border-bottom: 1px solid lightgrey;
}

.mandatory {
    color: red;
    font-size: 70%;
}

.btn:disabled{
    cursor: not-allowed !important;
}

.nibs {color: red;}
.cae{color: blue;}
.ofi{color: green;}

