<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    Reason for Disapproval
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                            <div class="col-md-3"><label>Reason</label></div>
                            <div class="form-group m-form__group col-md-9">
                                <textarea class="form-control m-input" type="text"
                                       placeholder="Reason"
                                       formControlName="reason">

                                </textarea>
                            </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" (click)="onDisapprove()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                ><i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                     Save
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal_1" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Username</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.username}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.emailAddress}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Staff Number</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.staffNumber}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Title</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">First Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Last Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Middle Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.middleName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        <div *ngFor="let phone of list?.data?.user?.phoneList;"
                                             style="margin-bottom: 5px">
                                            {{phone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.user?.activated" class="label label-success">
                                            Active</span>
                                        <span *ngIf="!list?.data?.user?.activated" class="label label-danger">
                                            Inactive</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Street Number</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.streetNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">LGA</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.state?.name}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">BVN</td>
                                    <td class="maintext viewContent">{{list?.data?.user?.bvn}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td class="viewContent">Role</td>
                                        <td class="maintext viewContent">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Description</th>
                                                </tr>
                                                <tr *ngFor="let task of list?.data?.user?.role?.tasks;">
                                                    <td>{{task?.module}}</td>
                                                    <td>{{task?.name}}</td>
                                                    <td>
                                                    <span *ngIf="task?.activated" class="label label-success">
                                                        Active
                                                    </span>
                                                        <span *ngIf="!task?.activated" class="label label-danger">
                                                        Deactivated
                                                    </span>
                                                    </td>
                                                    <td>{{task?.description}}</td>
                                                </tr>
                                                <tr *ngIf="list?.data?.user?.role?.tasks.length === 0">
                                                    <td class="text-center">No Content Found</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">User Type</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.user?.userType | removeUnderscore}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" style="width: 100% !important;">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard </span>
                                <span routerLink="/nibss" class="cursorpointer underline">/ {{moduleName}} </span>
                                <span class="cursorpointer">/ {{status}} </span>
                            </h3>
                            <div class="m-portlet__head-title float-right">
                                <h3 class="m-portlet__head-text">
                                    <button class="btn btn-success" routerLink="/nibss/approved">Approved</button>
                                    <button class="btn btn-warning" routerLink="/nibss/pending">Pending</button>
                                    <button class="btn btn-danger" routerLink="/nibss/disapproved">Disapproved</button>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body table-responsive">
                    <div class="row">
                            <div class=" col-md-6">
                                <div class=" input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Options
                                        </button>
                                        <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"
                                             style="width: 200px !important;">
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>
                                            <a class="dropdown-item showCursor" (click)="onSearchType('First Name')">First
                                                Name</a>
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Last Name')">Last Name</a>
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Staff Number')">Staff Number</a>
                                            <!--<a class="dropdown-item showCursor" (click)="onSearchType('Code')">Code</a>-->
                                            <!--<a class="dropdown-item showCursor"
                                               (click)="onSearchType('Email')">Email</a>-->
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search for {{searchOption}}">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" (click)="searchMethod(0)" [disabled]="searchtext === ''" type="button">
                                            <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                            <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                            Go
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" >
                                &nbsp;
                            </div>
                    </div><br>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Staff Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">BVN</th>
                            <th scope="col">Approval Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent | paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <th scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></th>
                            <td>{{data?.user?.name?.firstName}}</td>
                            <td>{{data?.user?.name?.lastName}}</td>
                            <td>{{data?.staffNumber}}</td>
                            <td>{{data?.user?.emailAddress}}</td>
                            <td>{{data?.user?.bvn}}</td>
                            <td>
                                <span *ngIf="data?.makerChecker?.approvalStatus" class="label label-success">
                                    Active
                                </span>
                                <span *ngIf="!data?.makerChecker?.approvalStatus && !data?.makerChecker?.approvalReason" class="label label-warning">
                                    Pending
                                </span>
                                <span *ngIf="status ==='disapproved' && data?.makerChecker?.approvalReason" class="label label-danger">
                                    Deactivated
                                </span>
                            </td>
                            <td>
                                <button  *ngIf="userType === 'AUTHORIZER' && status === 'pending'" type="button"
                                         ngbTooltip="Approve {{data?.user?.name?.firstName}}"
                                         (click)="onApprove(data)"
                                         placement="bottom"
                                         class="btn m-btn m-btn--gradient-from-info m-btn--gradient-to-accent">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button  *ngIf="userType === 'AUTHORIZER' && status === 'pending'" type="button"
                                         ngbTooltip="Disapprove {{data?.user?.name?.firstName}}"
                                         placement="bottom"
                                         (click)="onOpen(data)"
                                         class="btn m-btn m-btn--gradient-from-danger m-btn--gradient-to-accent">
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <!--<button type="button" *ngIf="list?.tasks?.indexOf('updateNibssUser') > -1 && userType !== 'AUTHORIZER'"
                                        (click)="onEdit(data)"
                                        ngbTooltip="Edit {{data?.user?.name?.firstName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-success m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>-->
                                <button type="button" (click)="onView(data)"
                                        ngbTooltip="View {{data?.user?.name?.firstName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading NIBSS
                            </td>
                            <td colspan="8" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>

                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
