<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Download Billings Report by date</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend mr-5">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>From: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate1"
                                           style="height: 40px !important; width: 100% !important; float: left !important;"
                                           ngbDatepicker #d3="ngbDatepicker"
                                           (click)="d3.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
						                <span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate1"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d4="ngbDatepicker"
                                           (click)="d4.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
            						<span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <br><br>
                        <label>Download Type &nbsp;&nbsp;</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox1" name="download" (change)="onSelectDownType('pdf')" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">PDF</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox2" name="download" (change)="onSelectDownType('csv')" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">CSV</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox3" name="download" (change)="onSelectDownType('excel')" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">EXCEL</label>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button"  (click)="exportDownload()"
                        [disabled]="booleans?.loadingSearch || !toDate1 || !fromDate1"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Export </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>Branches
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right;background-color: #1c5580; color: #FFFFFF" (click)="onOpen()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="input-group mb-3 pl-4">
                    <div class="input-group-prepend mr-3">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>From: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate"
                                           style="height: 40px !important; width: 100% !important; float: left !important;"
                                           ngbDatepicker #d1="ngbDatepicker"
                                           (click)="d1.toggle()" />
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
						<span>

							<i class="fa fa-calendar"></i>
						</span>
					</span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="input-group-prepend mr-3">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d2="ngbDatepicker"
                                           (click)="d2.toggle()" />
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
						<span>

							<i class="fa fa-calendar"></i>
						</span>
					</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop mt-4">
                            <button (click)="getSearchLog(0)" [disabled]="booleans?.loadingSearch || !toDate || !fromDate"
                                    class="btn  btn-sm"  style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                <i class="fa fa-search"></i> &nbsp;Search
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                            </button>
                        </div>
                    </div>


                </div>

                <div class="m-portlet__body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Agent Manager Code</th>
                            <th scope="col">Agent Code</th>
                            <th scope="col">Branch</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <th scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></th>
                            <td>{{data?.agentManagerCode}}</td>
                            <td>{{data?.agentCode}}</td>
                            <td>{{data?.branchName}}</td>
                            <td>{{data?.city}}</td>
                            <td>{{data?.state}}</td>
                            <td>{{data?.dateCreated}}</td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Branch(es)
                            </td>
                            <td colspan="8" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
