<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-3"><label><span class="star">*</span>Branch</label></div>
                        <div class="form-group m-form__group col-md-9">
                            <input class="form-control m-input" type="text" placeholder="Branch Name"
                                   formControlName="name"
                                   autocomplete="off">
                            <div *ngIf="createForm.get('name').invalid && createForm.get('name').touched"
                                 class="alert alert-danger text-center">
                                Branch is Required
                            </div>
                        </div>
                    </div>

                    <div formGroupName="contactDetails">
                        <div class="row">
                            <div class="col-md-3"><label><span class="star">*</span>Street Address</label></div>
                            <div class="form-group m-form__group col-md-9">
                                <input class="form-control m-input" type="text" placeholder="Street Address"
                                       formControlName="streetNumber"
                                       autocomplete="off">
                                <!--<div *ngIf="createForm.get('streetNumber').invalid && createForm.get('streetNumber').touched" class="errorField text-center">
                                    Street Address is Required
                                </div>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"><label><span class="star">*</span>City</label></div>
                            <div class="form-group m-form__group col-md-9">
                                <input class="form-control m-input" placeholder="City"
                                        formControlName="city"/>
                            </div>
                            <!--<div *ngIf="createForm.get('city').invalid && createForm.get('city').touched" class="errorField text-center">
                                City is Required
                            </div>-->
                        </div>

                        <div class="row">
                            <div class="col-md-3"><label><span class="star">*</span>State</label></div>
                            <div class="form-group m-form__group col-md-9">
                                <angular2-multiselect [data]="itemListState"
                                                      [settings]="settingsState"
                                                      formControlName="state"
                                                      (onSelect)="onItemSelectState($event)"
                                                      (onDeSelect)="OnItemDeSelectState($event)"
                                                      (onSelectAll)="onSelectAllState($event)"
                                                      (onDeSelectAll)="onDeSelectAllState($event)">
                                </angular2-multiselect>
                                <div *ngIf="list?.allState?.length === 0" class="text-center" style="color: red">
                                    No State Found
                                </div>
                                <span *ngIf="booleans?.lgaStatus && list?.allState?.length > 0"><i
                                        class="fa fa-spinner fa-spin"></i> Loading LGA
                                    </span>
                            </div>
                        </div>

                        <div class="row" *ngIf="list?.allLga?.length > 0">
                            <div class="col-md-3"><label><span class="star">*</span>Lga</label></div>
                            <div class="form-group m-form__group col-md-9">
                                <angular2-multiselect [data]="itemListLga"
                                                      [settings]="settingsLga"
                                                      formControlName="lgaId"
                                                      [(ngModel)] = "lgaId"
                                                      (onSelect)="onItemSelectLga($event)"
                                                      (onDeSelect)="OnItemDeSelectLga($event)"
                                                      (onSelectAll)="onSelectAllLga($event)"
                                                      (onDeSelectAll)="onDeSelectAllLga($event)">
                                </angular2-multiselect>
                                <div *ngIf="booleans?.emptyLga && list?.allLga?.length === 0" class="text-center" style="color: red">
                                    No LGA Found
                                </div>
                            </div>
                        </div>

                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" data-dismiss="modal" aria-label="Close"
                         class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

                <button type="button" [disabled]="createForm.invalid || booleans?.loadingStatus"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                ><i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    <span (click)="insertForm('new')" *ngIf="!booleans?.showUpdate"> Save </span>
                    <span (click)="insertForm('update')" *ngIf="booleans?.showUpdate"> Update </span>
                </button>
            </div>
        </div>
    </div>
</div>



<div class="m-content" *ngIf="role === 'AGENT'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" >
                            <h3 class="m-portlet__head-text" >
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ Branch </span>
                            </h3>
                        </div>

                        <!--<div class="m-portlet__head-title" *ngIf="parentRoute !== ''">
                            <h3 class="m-portlet__head-text"  *ngIf="checkAgent === 'all'">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span style="cursor: pointer; text-decoration: underline">{{moduleName}} {{parentRoute}}</span>
                            </h3>
                            <h3 class="m-portlet__head-text"  *ngIf="checkAgent !== 'all'">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span style="cursor: pointer; text-decoration: underline">{{moduleName}} {{parentRoute}}</span>
                            </h3>
                        </div>-->
                    </div>
                    <div class="m-portlet__head-tools" *ngIf="list?.tasks?.indexOf('createBranch') > -1">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF" (click)="onOpen()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                                    Create Branch
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class=" col-md-6">
                            <div class=" input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"
                                         style="width: 200px !important;">
                                        <a class="dropdown-item showCursor" (click)="onSearchType('Branch Name')">Branch Name</a>
                                        <a class="dropdown-item showCursor" (click)="onSearchType('Branch Name')">Street</a>
                                        <a class="dropdown-item showCursor" (click)="onSearchType('LGA')">LGA</a>
                                        <a class="dropdown-item showCursor" (click)="onSearchType('City')">City</a>
                                        <a class="dropdown-item showCursor" (click)="onSearchType('State')">State</a>
                                       </div>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search for {{searchOption}}">
                                <div class="input-group-append">
                                    <button class="btn btn-success" (click)="searchMethod(0)" [disabled]="searchtext === ''" type="button">
                                        <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                        <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                        Go
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3" >
                            &nbsp;
                        </div>
                    </div><br>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Branches</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">LGA</th>
                            <th scope="col">State</th>
                            <th scope="col">Active Status</th>
                            <th scope="col" *ngIf="list?.tasks?.indexOf('updateBranch') > -1">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <th scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></th>
                            <td>{{data?.name}}</td>
                            <td>{{data?.contactDetails?.streetNumber}}</td>
                            <td>{{data?.contactDetails?.city}}</td>
                            <td>{{data?.contactDetails?.lga?.name}}</td>
                            <td>{{data?.contactDetails?.lga?.state?.name}}</td>
                            <td *ngIf="list?.tasks?.indexOf('toggleBranch') < 0">
                                <span *ngIf="data?.activated" class="label label-success">
                                    Active
                                </span>
                                <span *ngIf="!data?.activated" class="label label-danger">
                                    Deactivated
                                </span>
                            </td>
                            <td *ngIf="list?.tasks?.indexOf('toggleBranch') > -1">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="'On'"
                                        [offText]="'Off'"
                                        [onColor]="'green'"
                                        [offColor]="'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="insertForm('toggle', data)">
                                </switch>
                            </td>
                            <td>
                                <button type="button" *ngIf="list?.tasks?.indexOf('updateBranch') > -1"
                                        (click)="onEdit(data)" ngbTooltip="Edit {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                               <!-- <button type="button" (click)="onView(data)" ngbTooltip="View {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Branch(es)
                            </td>
                            <td colspan="8" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
