
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" >
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span (click)="onGetAllDesktopAudit(0)" class="cursorpointer">Desktop Audit</span>
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body table-responsive">
                    <div class="m-subheader-search" appunwraptag="">
                        <form class="m-form">
                            <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                                <div class="m-grid__item m-grid__item--middle">
                                    <div style="float: left" class="dropdown show m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                        <a class="btn btn-secondary dropdown-toggle m-btn--pill searchStyle" id="dropdownMenuLink"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            {{searchOption}}
                                        </a>
                                        <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink" style="width: 200px !important;">
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Date')">By Date</a>
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>
                                            <!--<a class="dropdown-item showCursor" (click)="onSearchType('Agent Code')">Agent Code</a>-->
                                        </div>
                                    </div>
                                        <div style="float: right">
                                            <form [formGroup] = "dateRangeSearchForm">
                                                <div *ngIf="searchOption === 'Username' || searchOption === 'Agent Code'" class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                                            <input type="text" class="form-control form-control-lg m-input m-input--pill"
                                                                   placeholder="Enter {{searchOption}}" formControlName="params">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
                                                                <span>
                                                                    <i class="fa fa-spin fa-spinner" *ngIf="booleans?.loadsearch"></i>
                                                                    <i class="fa fa-search cursorpointer" (click)="dateRangeSearchbyLog()" *ngIf="!booleans?.loadsearch"></i>
                                                                </span>
                                                               </span>
                                                        </div>
                                                        <div *ngIf="searchOption === 'Date'" class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                                            <input class="form-control form-control-lg m-input m-input--pill" placeholder="From"
                                                                   ngbDatepicker #d1="ngbDatepicker"
                                                                   (click)="d1.toggle()" formControlName="from">
                                                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                                                        <span>
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                <div *ngIf="searchOption === 'Date'" class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                                    <input class="form-control form-control-lg m-input m-input--pill" placeholder="To"
                                                           ngbDatepicker #d2="ngbDatepicker"
                                                           (click)="d2.toggle()" formControlName="to">
                                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </span>
                                                </div>
                                                <div class="m-input-icon m-input-icon--fixed" *ngIf="searchOption === 'Date'">
                                                    <button class="btn btn-success" *ngIf="booleans?.loadsearch">
                                                        <i class="fa fa-spin fa-spinner"></i>
                                                    </button>
                                                    <button class="btn btn-success" (click)="dateRangeSearchbyLog()" *ngIf="!booleans?.loadsearch">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">UserName</th>
                            <th scope="col">IpAddress</th>
                            <th scope="col">MacAddress</th>
                            <th scope="col">Action</th>
                            <th scope="col">Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.userName}}</td>
                            <td>{{data?.ipAddress}}</td>
                            <td>{{data?.macAddress}}</td>
                            <td>{{data?.action}}</td>
                            <td>{{data?.createdAt}}</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Audit(s)
                            </td>
                            <td colspan="6" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
