<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" (click)="onNavBack()">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer" routerLink="/billing">Billing</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="width: 120px;height: 40px!important;background-color: #1c5580; color: #FFFFFF" routerLink="/billing"
                                        type="button"
                                        class="btn  m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-backward"></i>
                                    Back
                                </button>
                                <!--<button style="float: right;" (click)="onOpen()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export Billing
                                </button>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ticket&nbsp;ID</th>
                            <th scope="col">Agent&nbsp;Code</th>
                            <th scope="col">Institution&nbsp;Code</th>
                            <th scope="col">Ongoing Count</th>
                            <th scope="col">SuccessFul Count</th>
                            <th scope="col">Failed&nbsp;Count</th>
                            <th scope="col">Amount (Income due)</th>
                            <th scope="col">Narration</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                                <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                                <td>{{data?.ticketId}}</td>
                                <td>{{data?.agentCode}}</td>
                                <td>{{data?.institutionCode}}</td>
                                <td>
                                    <a *ngIf="data?.ongoingBvnCount > 0" class="cursorpointer1" (click)="onViewCount(data?.agentCode, 0)">
                                        {{data?.ongoingBvnCount}}
                                    </a>
                                    <span *ngIf="data?.ongoingBvnCount === 0">{{data?.ongoingBvnCount}}</span>
                                </td>
                                <td>
                                    <a *ngIf="data?.successfulBvnCount > 0" class="cursorpointer1" (click)="onViewCount(data?.agentCode, 1)">
                                        {{data?.successfulBvnCount}}
                                    </a>
                                    <span *ngIf="data?.successfulBvnCount === 0">{{data?.successfulBvnCount}}</span>
                                </td>
                                <td>
                                    <a *ngIf="data?.failedBvnCount > 0"  class="cursorpointer1" (click)="onViewCount(data?.agentCode, 2)">
                                        {{data?.failedBvnCount}}
                                    </a>
                                    <span *ngIf="data?.failedBvnCount === 0">{{data?.failedBvnCount}}</span>
                                </td>

                                <td>{{data?.amount || ''}}</td>
                                <td>{{data?.narration || ''}}</td>
                            </tr>
                            <tr>
                            <td colspan="9" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Agent Billing
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>