<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" *ngIf="role === 'NIBSS'">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title cursorpointer1" >
               <span routerLink="/dashboard">Dashboard /</span> Other Report
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-4 col-lg-4 col-xl-4 hover-me" routerLink="/agent-manager-report/institution-report" style="background-color: #2E4053;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Institution by
                                <br><br>States
                            </h4>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 hover-me" routerLink="/agent-manager-report/lga-agent" style="background-color: #1b6355;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Agent by
                                <br><br>States and LGAs
                            </h4>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 hover-me" routerLink="/agent-manager-report/state-agent" style="background-color: #438D80;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Agent by
                                <br><br>States
                            </h4>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" routerLink="/agent-manager-report/state-and-lga" style="background-color: #95989E;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Transaction by
                                <br><br>States and LGAs
                            </h4>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" routerLink="/agent-manager-report/agents-per-agrMgr" style="background-color: #39465F;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Agents
                                <br><br>Per Agent manager
                            </h4>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
