<div class="modal fade" id="viewModal_1" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Enrollment</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list?.data">
                <ngb-tabset>
                    <ngb-tab title="Agent Details">
                        <ng-template ngbTabContent>
                            <table>
                                <tr>
                                    <td class="viewContent">Institution</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.agentManagerInstitutionCode}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Agent Code</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.agentCode}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Enroller Code</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.enrollerCode}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">BVN</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.bvn}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Amount</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.amount}}
                                    </td>
                                </tr>

                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Enrollment Details</ng-template>
                        <ng-template ngbTabContent>
                            <tr>
                                <td class="viewContent">Enrollment App Version</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.enrollmentAppVersion | removeSpecialword}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Enrollment Source</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.enrollmentSource | removeSpecialword}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Ticket Number</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.ticketNumber | removeSpecialword}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">BMS Ticket Id</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.bmsTicketId}}
                                </td>
                            </tr>
                            <tr>
                                <td class="viewContent">Capture Date</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.captureDate}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Sync Date</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.syncDate}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Finger Print Scanner Used</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.fingerPrintScannerUsed}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Response Code</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.responseCode}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Validation Status</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.validationStatus}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Validation Message</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.validationMessage}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Latitude</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.latitude}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">Longitude</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.longitude}}
                                </td>
                            </tr>
                            <tr>
                                <td class="viewContent">Region</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.region}}
                                </td>
                            </tr>

                            <tr>
                                <td class="viewContent">City</td>
                                <td class="maintext viewContent">
                                    {{list?.data?.city}}
                                </td>
                            </tr>

                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Download Billings Report by date</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span class="col-sm-3 col-md-3 col-lg-3">Institution </span>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <angular2-multiselect [data]="itemListInstitution"
                                              [settings]="settingsInstitution"
                                              [(ngModel)]="institution1"
                                              (onSelect)="onItemSelectInstitution($event)"
                                              (onDeSelect)="OnItemDeSelectInstitution($event)">
                        </angular2-multiselect>
                    </div>
                </div><br/>
                <div class="row">
                    <span class="col-sm-3 col-md-3 col-lg-3">Status </span>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <angular2-multiselect [data]="itemListStatus"
                                              [settings]="settingsStatus"
                                              [(ngModel)]="status1"
                                              (onSelect)="onItemSelectStatus($event)"
                                              (onDeSelect)="OnItemDeSelectStatus($event)">
                        </angular2-multiselect>
                    </div>
                </div><br/>
                <div class="row">
                    <span class="col-sm-3 col-md-3 col-lg-3">From </span>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <input class="form-control"
                               placeholder="From Date" [(ngModel)]="fromDate1"
                               style="height: 40px !important; width: 100% !important; float: left !important;"
                               ngbDatepicker #d3="ngbDatepicker"
                               (click)="d3.toggle()"/>
                    </div>
                </div><br/>
                <div class="row">
                    <span class="col-sm-3 col-md-3 col-lg-3">To </span>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <input class="form-control"
                               placeholder="To Date" [(ngModel)]="toDate1"
                               style="height: 40px !important; width: 100% !important; float: right !important;"
                               ngbDatepicker #d4="ngbDatepicker"
                               (click)="d4.toggle()"/>
                    </div>
                </div>
                <div>
                    <br><br>
                    <label>Download Type &nbsp;&nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox1" name="download"
                               (change)="onSelectDownType('pdf')" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">PDF</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox2" name="download"
                               (change)="onSelectDownType('csv')" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CSV</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox3" name="download"
                               (change)="onSelectDownType('excel')" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">EXCEL</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-label="Close"
                            class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                        Close
                    </button>
                    <button type="button" (click)="exportDownload()"
                            [disabled]="booleans?.loadingSearch || !toDate1 || !fromDate1"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                        <span> Export </span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-content">

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer" (click)="getAllEnrollments(0)">Enrollments</span>
                                <span *ngIf="!booleans.searchStatus"> (3 days records)</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF"
                                        (click)="onOpen()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="text-center">
                    <h5 *ngIf="searchLabel !== ''"><br/><br/>{{searchLabel}}</h5>
                                    <div class="row"
                                         style="margin-top: 5% !important;">
                                        <div class="col-md-2 col-xl-2 col-lg-2">
                                                <a class="btn btn-secondary dropdown-toggle  searchStyle"
                                                   id="dropdownMenuLink"
                                                   data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    {{searchOption}}
                                                </a>
                                                <div class="dropdown-menu cursorpointer"
                                                     aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item showCursor"
                                                       (click)="onSearchType('Ticket Id')">Ticket Id</a>
                                                    <!-- <a class="dropdown-item showCursor"
                                                        (click)="onSearchType('Status')">Status</a>-->
                                                    <a class="dropdown-item showCursor" (click)="onSearchType('Date')">Date</a>
                                                </div>
                                        </div>
                                        <input *ngIf="searchOption === 'Ticket Id' || searchOption === 'Status'"
                                               class="form-control  col-md-6 col-xl-6 col-lg-6"
                                               [disabled]="searchOption === 'Search Type'"
                                               placeholder="Enter {{searchOption}}" [(ngModel)]="param"
                                               style="height: 40px !important; width: auto"/>
                                        <div *ngIf="searchOption === 'Date'" class="col-sm-2 col-md-2 col-lg-2">
                                                                <angular2-multiselect [data]="itemListInstitution"
                                                                                      [settings]="settingsInstitution"
                                                                                      [(ngModel)]="institution"
                                                                                      (onSelect)="onItemSelectInstitution($event)"
                                                                                      (onDeSelect)="OnItemDeSelectInstitution($event)">
                                                                </angular2-multiselect>
                                                            </div>
                                        <div *ngIf="searchOption === 'Date'" class="col-sm-2 col-md-2 col-lg-2">
                                                                <angular2-multiselect [data]="itemListStatus"
                                                                                      [settings]="settingsStatus"
                                                                                      [(ngModel)]="status"
                                                                                      (onSelect)="onItemSelectStatus($event)"
                                                                                      (onDeSelect)="OnItemDeSelectStatus($event)">
                                                                </angular2-multiselect>
                                                            </div>
                                        <input *ngIf="searchOption === 'Date'"
                                               class="form-control  col-md-2 col-xl-2 col-lg-2"
                                               placeholder="From Date" [(ngModel)]="fromDate"
                                               style="height: 40px !important; width: auto "
                                               ngbDatepicker #d1="ngbDatepicker"
                                               (click)="d1.toggle()"/>

                                        <input *ngIf="searchOption === 'Date'"
                                               class="form-control col-md-2 col-xl-2 col-lg-2"
                                               placeholder="To Date" [(ngModel)]="toDate"
                                               style="height: 40px !important; width: auto"
                                               ngbDatepicker #d2="ngbDatepicker"
                                               (click)="d2.toggle()"/>

                                        <div class="col-md-2 col-xl-2 col-lg-2">
                                            <button (click)="getSearchLog(0)"
                                                    [disabled]="booleans?.loadingSearch || ((!toDate || !fromDate) && param==='')"
                                                    class="btn btn-sm"
                                                    style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                                <i class="fa fa-search"></i> &nbsp;Search
                                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                                            </button>
                                        </div>
                                    </div>
                                </span>
                <div class="m-portlet__body table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Inst. Code</th>
                            <th scope="col">Inst. Name</th>
                            <th scope="col">Agent Code</th>
                            <!--<th scope="col">Enroller Code</th>-->
                            <th scope="col">Ticket No.</th>
                            <th scope="col">Validation Status</th>
                            <th scope="col">Capture Date</th>
                            <th scope="col">Sync Date</th>
                            <th scope="col">Validation Date</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.agrMgrInstCode}}</td>
                            <td>{{data?.agrMgrInstName}}</td>
                            <td>{{data?.agentCode}}</td>
                            <!--<td>{{data?.enrollerCode}}</td>-->
                            <td>{{data?.ticketNumber | removeSpecialword}}</td>
                            <td>
                                <span *ngIf="data?.validationStatus !== 'PENDING'
                                && data?.validationStatus !== 'FAILED'
                                && data?.validationStatus !== 'SUCCESS'
                                && data?.validationStatus !== 'ONGOING'
                                && data?.validationStatus !== 'DUPLICATE'
                                && data?.validationStatus !== 'BAD_SOURCE'
                                && data?.validationStatus !== 'BAD_VERSION'" class="label label-default">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'PENDING'" class="label label-warning">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'FAILED'" class="label label-danger">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'SUCCESS'" class="label label-success">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'ONGOING'" class="label label-warning">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'DUPLICATE'" class="label label-primary">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'BAD_SOURCE'" class="label"
                                      style="background-color: #d9534f">{{data?.validationStatus}}</span>
                                <span *ngIf="data?.validationStatus === 'BAD_VERSION'" class="label"
                                      style="background-color: #d9534f">{{data?.validationStatus}}</span>
                            </td>
                            <td>{{data?.captureDate}}</td>
                            <td>{{data?.syncDate}}</td>
                            <td>{{data?.validationDate}}</td>
                            <td>
                                <button class="btn btn-info" (click)="onOpenModal(data)"><i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="16" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Enrollment(s)
                            </td>
                            <td colspan="16" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>