<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    <span *ngIf="!booleans?.showUpdate">New</span>
                    <span *ngIf="booleans?.showUpdate">Update</span>
                    {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>
                                    Bank Account Number</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input minlength="10" maxlength="10" class="form-control m-input" type="text"
                                           placeholder="Bank Account No."
                                           formControlName="bankAccountNumber"
                                           autocomplete="off">
                                    <div *ngIf="(createForm.get('bankAccountNumber').invalid && createForm.get('bankAccountNumber').touched ) || createForm.get('bankAccountNumber').hasError('minLength') "
                                         class="alert alert-danger text-center">
                                        Bank Account No. must be 10 digit
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Bank</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" type="text"
                                            formControlName="bankId">
                                        <option *ngFor="let bank of list?.allBanks" [value]="bank?.id">
                                            {{bank?.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="createForm.get('bankId').invalid && createForm.get('bankId').touched"
                                         class="alert alert-danger text-center">
                                        Bank is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Auto Generate Code</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <table class="table" style="border: 0">
                                        <tr>
                                            <td><label>Activate</label></td>
                                            <td><input  type="radio" placeholder="code"
                                                        formControlName="autoGeneratedCode"  [value]="true" (change)="onChange($event)">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Deactivate</label></td>
                                            <td>
                                                <div class="form-group m-form__group">
                                                 <input  type="radio" placeholder="code"
                                                        formControlName="autoGeneratedCode" [value]="false" (change)="onChange($event)">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <div class="row" *ngIf="createForm.value['autoGeneratedCode'] === false">
                                <div class="col-md-3"><label><span class="star">*</span>Code</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" maxlength="6" placeholder="code"
                                           formControlName="code">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Name</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="name"
                                           formControlName="name"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Phone</label></div>
                                <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" style="float: left; width: 95%"
                                               type="text"
                                               placeholder="Phone"
                                               formControlName="phone"
                                               autocomplete="off">
                                        <div style="clear: both"></div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Email</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Email"
                                           formControlName="emailAddress"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('emailAddress').invalid && createForm.get('emailAddress').touched"
                                         class="alert alert-danger text-center">
                                        Email is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Street Address</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Street Address"
                                           formControlName="streetAddress"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('streetAddress').invalid && createForm.get('streetAddress').touched"
                                         class="alert alert-danger text-center">
                                        Street Address is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>City</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" placeholder="City"
                                           formControlName="city"/>
                                    <div *ngIf="createForm.get('city').invalid && createForm.get('city').touched"
                                         class="alert alert-danger text-center">
                                        City is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>State</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListState"
                                                          [settings]="settingsState"
                                                          formControlName="stateId"
                                                          (onSelect)="onItemSelectState($event)"
                                                          (onDeSelect)="OnItemDeSelectState($event)"
                                                          (onSelectAll)="onSelectAllState($event)"
                                                          (onDeSelectAll)="onDeSelectAllState($event)">
                                    </angular2-multiselect>
                                    <div *ngIf="list?.allState?.length === 0" class="text-center" style="color: red">
                                        No State Found
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3"><label>Additional Info 1</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Additional Info 1"
                                           formControlName="additionalInfo1"
                                           autocomplete="off">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label>Additional Info 2</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Additional Info 2"
                                           formControlName="additionalInfo2"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" (click)="insert()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    <span *ngIf="!booleans?.showUpdate"> Save </span>
                    <span *ngIf="booleans?.showUpdate"> Update </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal_1" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.emailAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Code</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.phone}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.activated" class="label label-success">
                                            Active
                                        </span>
                                        <span *ngIf="!list?.data?.activated" class="label label-danger">
                                            Deactivated
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.state?.name}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <table  class="table table-striped">
                                <tr>
                                    <td class="viewContent">Bank Account Number</td>
                                    <td class="maintext viewContent">{{list?.data?.bankAccountNumber}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Bank Code</td>
                                    <td class="maintext viewContent">{{list?.data?.bankCode}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table  class="table table-striped">
                                    <tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" style="width: 100% !important;">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer">{{moduleName}}</span>
                            </h3>
                            <div class="m-portlet__head-title float-right" *ngIf="userRole !== 'report viewer'">
                                <h3 class="m-portlet__head-text">
                                    <button class="btn btn-success" routerLink="approved">Approved</button>
                                    <button class="btn btn-warning" routerLink="pending">Pending</button>
                                    <button class="btn btn-danger" routerLink="disapproved">Disapproved</button>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class=" col-md-6">
                            <div class=" input-group">
                                <!--<div class="input-group-prepend">-->
                                    <!--<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"-->
                                            <!--data-toggle="dropdown"-->
                                            <!--aria-haspopup="true" aria-expanded="false">-->
                                        <!--Options-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"-->
                                         <!--style="width: 200px !important;">-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('First Name')">First-->
                                            <!--Name</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Last Name')">Last Name</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Staff Number')">Staff Number</a>-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor" (click)="onSearchType('Code')">Code</a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor"-->
                                           <!--(click)="onSearchType('Email')">Email</a>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-success" (click)="searchMethod(0)" [disabled]="searchtext === ''" type="button">
                                        <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                        <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                        Go
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3" >
                            <button
                                    *ngIf="userType === 'OPERATOR' && userRole !== 'report viewer'"
                                    style="float: right; margin-right: 4%; background-color: #1c5580; color: #FFFFFF"
                                    (click)="onOpen()"
                                    type="button"
                                    class="row btn m-btn m-btn--custom m-btn--icon m-btn--air">
                                Create {{moduleName}}
                            </button>
                        </div>
                    </div><br>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">Bank </th>
                            <th scope="col">Email</th>
                            <th scope="col">Active Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name}}</td>
                            <td>{{data?.code}}</td>
                            <td>{{data?.phone}}</td>
                            <td>{{data?.bankAccountNumber}}</td>
                            <td>{{data?.bankCode}}</td>
                            <td>{{data?.emailAddress}}</td>
                            <td *ngIf="list?.tasks?.indexOf('toggleNibssUser') < 0 || userType !== 'AUTHORIZER' || userRole === 'report viewer'">
                                <span *ngIf="data?.activated" class="label label-success">
                                    Active
                                </span>
                                <span *ngIf="!data?.activated" class="label label-danger">
                                    Deactivated
                                </span>
                            </td>
                            <td  *ngIf="userType === 'AUTHORIZER' && userRole !== 'report viewer'">
                                <switch
                                        [status]="data?.activated"
                                        [onText]="'On'"
                                        [offText]="'Off'"
                                        [onColor]="'green'"
                                        [offColor]="'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="insertForm('toggle', data)">
                                </switch>
                            </td>
                            <td>
                                <!--<button  *ngIf="userType === 'AUTHORIZER'" type="button"
                                         ngbTooltip="Approve {{moduleName}}"
                                        (click)="onApprove(data)"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-info m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button  *ngIf="userType === 'AUTHORIZER'" type="button"
                                         ngbTooltip="Disapprove {{moduleName}}"
                                        placement="bottom"
                                        (click)="onDisapprove(data)"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-danger m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                --><button type="button"  *ngIf="userType !== 'AUTHORIZER' && userRole !== 'report viewer'"
                                        (click)="onEdit(data)" ngbTooltip="Edit {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" (click)="onView(data)" ngbTooltip="View {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Institution(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
