<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Inactive Synced</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend mr-5">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>From: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate"
                                           style="height: 40px !important; width: 100% !important; float: left !important;"
                                           ngbDatepicker #d3="ngbDatepicker"
                                           (click)="d3.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
						                <span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d4="ngbDatepicker"
                                           (click)="d4.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
            						<span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>Param: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="Param" [(ngModel)]="param"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" (click)="exportDownload()"
                        [disabled]="booleans?.loadingSearch || ((!toDate || !fromDate) && param === '')"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Export <i *ngIf="booleans?.loadingSearch" class="fa fa-spinner fa-spin"></i> </span>
                </button>

            </div>
        </div>
    </div>
</div>



<!--<div class="m-content" *ngIf="role === 'NIBSS'>-->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="cursor: pointer">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span (click)="onGetActiveSync(0)" class="cursorpointer">Inactive</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF"
                                        (click)="onExport()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="text-center">
                                    <div class="row" style="margin-top: 5% !important; padding-left: 10%; padding-right: 10%">
                                        <div class="col-md-3 col-xl-3 col-lg-3">
                                                <a class="btn btn-secondary dropdown-toggle  searchStyle" id="dropdownMenuLink"
                                                   data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    {{searchOption}}
                                                </a>
                                                <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>
                                                    <a class="dropdown-item showCursor" (click)="onSearchType('Date')">Date</a>
                                                </div>
                                        </div>
                                        <input *ngIf="searchOption === 'Username'"
                                               class="form-control  col-md-6 col-xl-6 col-lg-6"
                                               [disabled]="searchOption === 'Search Type'"
                                               placeholder="Enter {{searchOption}}" [(ngModel)]="searchtext"
                                               style="height: 40px !important; width: auto"/>

                                        <input *ngIf="searchOption === 'Date'"  class="form-control  col-md-3 col-xl-3 col-lg-3"
                                               placeholder="From Date" [(ngModel)]="fromDate"
                                               style="height: 40px !important; width: auto "
                                               ngbDatepicker #d1="ngbDatepicker"
                                               (click)="d1.toggle()"/>

                                        <input *ngIf="searchOption === 'Date'"  class="form-control col-md-3 col-xl-3 col-lg-3"
                                               placeholder="To Date" [(ngModel)]="toDate"
                                               style="height: 40px !important; width: auto"
                                               ngbDatepicker #d2="ngbDatepicker"
                                               (click)="d2.toggle()"/>

                                        <div class="col-md-3 col-xl-3 col-lg-3">
                                            <button (click)="searchMethod(0)"
                                                    [disabled]="booleans?.loadingSearch || ((!toDate || !fromDate) && searchtext==='')" class="btn btn-sm"
                                                    style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                                <i class="fa fa-search"></i> &nbsp;Search
                                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                                            </button>
                                        </div>

                                    </div>
                                </span>

                <div class="m-portlet__body table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Agent Code</th>
                            <th scope="col">Agent Email</th>
                            <th scope="col">No of Sync</th>
                            <th scope="col">Phone</th>
                            <th scope="col">LGA</th>
                            <th scope="col">State</th>
                            <th scope="col">Active Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{ member['code']}}</td>
                            <td>{{ member['emailAddress'] }}</td>
                            <td>{{ member['countOfSync'] }}</td>
                            <td>{{ member['phoneNumber'] }}</td>
                            <td>{{ member['lgaName'] }}</td>
                            <td>{{ member['stateName'] }}</td>
                            <td><span class="font-weight-bold"
                                      [ngClass]="((member['countOfSync'] > 0) ? 'text-success' : 'text-danger')">{{ (member['countOfSync'] > 0 ) ? 'Active': 'Inactive'}}</span>
                            </td>
                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && booleans?.loader">
                            <td colspan="8" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading Sync report(s)
                            </td>
                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && !booleans?.loader">
                            <td colspan="8" class="text-center">No Content Found</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
