<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown"  		data-menu-vertical="true" 		 data-menu-dropdown="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" >
				<a  routerLink="/dashboard" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-text">
						Dashboard
					</span>
				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS' && userRole !== 'report viewer'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active"
				aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/config" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-cog"></i>
					<span class="m-menu__link-text">
						User Role
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item  m-menu__item--submenu"
				routerLinkActive="m-menu__item--open m-menu__item--active active"
				aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a  routerLink="/institution" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-users"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Institution
							</span>
						</span>
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item  m-menu__item--submenu"
				routerLinkActive="m-menu__item--open m-menu__item--active active"
				aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a  routerLink="/nibss" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-users"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								NIBSS
							</span>
						</span>
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						Agent Managers
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/all-agent" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						All Agents
					</span>
					<i class="m-menu__ver-arrow la la-group"></i>
				</a>
			</li>
			<!--<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/all-enroller" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						All Enroller
					</span>
					<i class="m-menu__ver-arrow la la-group"></i>
				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/branche" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						All Branch
					</span>
					<i class="m-menu__ver-arrow la la-group"></i>
				</a>
			</li>-->
			<li *ngIf="profile?.user?.userType === 'AGENT_MANAGER'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent/all" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						Agent
					</span>

				</a>
			</li>

			<li class="m-menu__item  m-menu__item--submenu" *ngIf="profile?.user?.userType === 'NIBSS'" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-open-box"></i>
					<span class="m-menu__link-text">
						Report
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__item-here"></span>
								<span class="m-menu__link-text">
									Report
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="//agent-manager-report/institution-report" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Number of Institution by States
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/agent-manager-report/state-agent" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Number of Agent by States And LGA
								</span>
							</a>
						</li>
						<!--<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/agent-manager-report/lga-agent" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Number of Agent by States and LGAs
								</span>
							</a>
						</li>-->
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/agent-manager-report/state-and-lga" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Transaction by States and LGAs
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/agent-manager-report/agents-per-agrMgr" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Number of Agents Per Agent manager
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/report" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-list-alt"></i>
					<span class="m-menu__link-text">
						Enrollment Report
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/audit" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-list-alt"></i>
					<span class="m-menu__link-text">
						Audit
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/billing" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-credit-card"></i>
					<span class="m-menu__link-text">
						Billing
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS' || profile?.user?.userType === 'AGENT_MANAGER'" class="m-menu__item" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent-manager-report/transaction-report" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-shirtsinbulk"></i>
					<span class="m-menu__link-text">
						Transaction Report
					</span>

				</a>
				<!--<a routerLink="/agent-manager-report" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-shirtsinbulk"></i>
					<span class="m-menu__link-text">
						Transaction Report
					</span>

				</a>-->
			</li>
			<!--<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent-manager-report/state-agent" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-shirtsinbulk"></i>
					<span class="m-menu__link-text">
						State Report
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent-manager-report/lga-agent" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-shirtsinbulk"></i>
					<span class="m-menu__link-text">
						Lga Report
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/agent-manager-report/state-and-lga" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-shirtsinbulk"></i>
					<span class="m-menu__link-text">
						State And LGA
					</span>

				</a>
			</li>-->
			<li *ngIf="profile?.user?.userType === 'NIBSS' && userRole !== 'report viewer'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/settings" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-cogs"></i>
					<span class="m-menu__link-text">
						Settings
					</span>

				</a>
			</li>

			<!--<li *ngIf="profile?.user?.userType === 'NIBSS'" class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open m-menu__item&#45;&#45;active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/enrollers-report" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-file"></i>
					<span class="m-menu__link-text">
						Enrollers Report
					</span>

				</a>
			</li>-->
			<li *ngIf="profile?.user?.userType === 'AGENT'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/enroller" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						Enroller
					</span>

				</a>
			</li>
			<li *ngIf="profile?.user?.userType === 'AGENT'" class="m-menu__item" routerLinkActive="m-menu__item--open m-menu__item--active" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/branches" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						Branch
					</span>

				</a>
			</li>
			<!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;open" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a routerLink="/profile" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">
						Profile
					</span>

				</a>
			</li>-->
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->

