<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-3">
                            <label><span class="star">*</span>Name</label>
                        </div>
                        <div class="form-group m-form__group col-md-9">
                            <input class="form-control m-input" type="text" placeholder="Name"
                                   formControlName="name" (change)="checkChangesOnName($event)"
                                   autocomplete="off">
                            <div *ngIf="createForm.get('name').invalid && createForm.get('name').touched" class="alert alert-danger text-center">
                                Name is Required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label><span class="star"></span>Description</label>
                        </div>
                        <div class="form-group m-form__group col-md-9">
                            <textarea class="form-control m-input" type="text" placeholder="Description"
                                      (change)="checkChangesOnDescription($event)"
                                      formControlName="description">
                            </textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label><span class="star">*</span>User Type</label>
                        </div>
                        <div class="form-group m-form__group col-md-9">
                            <select class="form-control m-input" formControlName="userType" (change)="checkChangesOnUsertype($event)">
                                <option>ENROLLER</option>
                                <option>AGENT</option>
                                <option>AGENT_MANAGER</option>
                                <option>NIBSS</option>
                            </select>
                        </div>
                    </div>

                    <!-- Accordion -->
                    <div id="accordion" *ngIf="booleans?.showUpdate">
                        <div class="card" *ngFor="let task of list?.moduleName; let i=index">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="selectedModule"
                                            aria-expanded="true" aria-controls="collapseOne" (click)="selectTask(task)">
                                        {{task}}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne{{task}}" class="collapse hide" aria-labelledby="headingOne"
                                 data-parent="#accordion" *ngIf="booleans?.showDrop">
                                <div class="card-body">
                                    <div class="m-form__group form-group">
                                        <div class="m-checkbox-list row">
                                           <div class="col-md-4" style="float: left" *ngFor="let selected of list?.moduleTasks; let i = index">
                                               <label class="m-checkbox m-checkbox--air m-checkbox--solid m-checkbox--state-success">
                                                   <input type="checkbox" [checked]="list.selectedId.indexOf(selected?.id)>-1"
                                                          (change)="onAddTask(selected.id)">
                                                   {{selected.name}}
                                                   <span></span>
                                               </label>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion Ends -->

                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" data-dismiss="modal" aria-label="Close"
                         class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid || booleans?.loadingStatus "
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    <span (click)="insertForm('new')" *ngIf="!booleans?.showUpdate"> Save </span>
                    <span (click)="insertForm('update')" *ngIf="booleans?.showUpdate"> Update </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal_1" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row" *ngIf="list">
                        <div class="col-md-3">
                            <label>Name: </label>
                        </div>
                        <div class="form-group m-form__group col-md-9 viewData">
                            {{list?.data?.name}}
                        </div>
                    </div>

                    <div class="row" *ngIf="list">
                        <div class="col-md-3">
                            <label>Description: </label>
                        </div>
                        <div class="form-group m-form__group col-md-9 viewData">
                            {{list?.data?.description}}
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" data-dismiss="modal" aria-label="Close"
                         class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>


            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="role === 'NIBSS'">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>User Role Management
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools" *ngIf="list?.tasks?.indexOf('createUserRole') > -1">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <button style="float: right; background-color: #1c5580; color: #FFFFFF" (click)="onOpen()"
                                    type="button"
                                    class="btn  m-btn m-btn--custom m-btn--icon m-btn--air">
                                Create Role
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body table-responsive">

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">User Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Active Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                        <th scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></th>
                        <td>{{data?.name}}</td>
                        <td>{{data?.userType}}</td>
                        <td>{{data?.description}}</td>
                        <td *ngIf="list?.tasks?.indexOf('toggleUserRole') < 0">
                                <span *ngIf="data?.activated" class="label label-success">
                                    Active
                                </span>
                            <span *ngIf="!data?.activated" class="label label-danger">
                                    Deactivated
                                </span>
                        </td>
                        <td *ngIf="list?.tasks?.indexOf('toggleUserRole') > -1">
                            <switch
                                    [status]="data?.activated"
                                    [onText]="'On'"
                                    [offText]="'Off'"
                                    [onColor]="'green'"
                                    [offColor]="'red'"
                                    [size]="'mini'"
                                    [disabled]="false"
                                    (statusChange)="insertForm('toggle', data)">
                            </switch>
                        </td>
                        <td>
                            <button type="button" *ngIf="list?.tasks?.indexOf('updateUserRole') > -1"
                                    (click)="onEdit(data)" ngbTooltip="Edit {{data?.name}}"
                                    placement="bottom"
                                    class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" (click)="onView(data)" ngbTooltip="Add Task to {{data?.name}}"
                                    placement="bottom"
                                    class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center" *ngIf="booleans?.loader"><i
                                class="fa fa-spinner fa-spin"></i> loading Role(s)
                        </td>
                        <td colspan="5" class="text-center" *ngIf="!booleans?.loader && list?.allContent?.length === 0">
                            No Content Found
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                <!--begin: Datatable
                <div class="m_datatable" id="m_datatable_latest_orders"></div>
                end: Datatable -->
            </div>
        </div>
    </div>
</div>