<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" *ngIf="role === 'NIBSS'">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Dashboard
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="details">
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/report" style="background-color: #2E4053;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                All Enrollments
                            </h4>
                            <br>
                            <div class="m-widget24__desc textColor">
                                Ongoing
                                <span style="float: right; padding-right: 5% !important;">{{details?.pendingEnrollmentCount}}</span>
                            </div>
                            <div class="m-widget24__desc textColor">
                                Successful
                                <span style="float: right; padding-right: 5% !important;">{{details?.successfulEnrollmentCount}}</span>
							</div>
                            <div class="m-widget24__desc textColor">
                                Failed
                                <span style="float: right; padding-right: 5% !important;">{{details?.failedEnrollmentCount}}</span>
							</div>
                            <div class="m-widget24__desc textColor">
                                Others
                                <span style="float: right; padding-right: 5% !important;">{{details?.otherEnrollmentCount}}</span>
							</div>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.totalEnrollment}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/institution" style="background-color: #1b6355;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Institution
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								    Institution Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.institutionCount}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/nibss" style="background-color: #438D80;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                NIBSS Members
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								NIBSS members Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.nibssUserCount}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/managers" style="background-color: #254117">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Agent Managers
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Agent Managers Registered
                            </span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.agentManagerCount}}
                            </div>
                        </div>
                    </div>
                </div>
             </div>


            <div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="details">
                <div class="col-md-2 col-lg-2 col-xl-2 hover-me" routerLink="/agents" style="background-color: #306754">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Agents
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Agents Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.agentCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 hover-me" routerLink="/all-enroller" style="background-color: #2E4053">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Enrollers
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Enrollers Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.enrollerCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 hover-me" routerLink="/all-branch" style="background-color: #566573">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Branch
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Branch Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.branchCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 hover-me"  [routerLink]="['/sync-report']" style="background-color: #1b6355">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                User Report Sync.
                            </h4>
                            <br>
                            <div class="m-widget24__desc textColor">
                                Active User
                                <span style="float: right; padding-right: 5% !important;">{{ activeUserLenght }}</span>
                            </div>
                            <div class="m-widget24__desc textColor">
                                Inactive User
                                <span style="float: right; padding-right: 5% !important;">{{ inActiveUserLenght }}</span>
                            </div>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{ reportSyncLenght }}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 hover-me"  [routerLink]="['/agent-manager-report/transaction-report']" style="background-color: #2E4053">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Transaction Report
                            </h4>
                            <br>
                            <div class="m-widget24__desc textColor">
                                Total Volume
                                <span style="float: right; padding-right: 5% !important;">{{ transactionReportdetails?.totalVolume }}</span>
                            </div>
                            <div class="m-widget24__desc textColor">
                                Total Value
                                <span style="float: right; padding-right: 5% !important;">{{ transactionReportdetails?.totalValue }}</span>
                            </div>
                            <div class="m--space-10"></div>
                            <br>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <!--<div class="col-md-2 col-lg-2 col-xl-2 hover-me"  [routerLink]="['/agent-manager-report/report']" style="background-color: #595D64">
                    &lt;!&ndash;begin::New Users&ndash;&gt;
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Other Reports
                            </h4>
                            <div class="m&#45;&#45;space-10"></div>
                            <br>
                        </div>
                    </div>
                    &lt;!&ndash;end::New Users&ndash;&gt;
                </div>-->
            </div>


            <div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="details">

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Sale Reports-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">

                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Reports
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div *ngIf="booleans?.loader">
                        <img src="../../../assets/img/loading.gif" style="height: 50%; width: 50%">
                    </div>
                    <div class="row">
                        <div *ngIf="branchList?.length === 0 && userStat.length ===0" class="text-center">
                            No Branch Found
                        </div>
                        <div class="col-md-12">
                            <amCharts id="chartdiv" [style.width.%]="100" [style.height.px]="400"></amCharts>
                        </div>
                        <!--<div class="col-md-7">
                            &lt;!&ndash;<div style="width: 20% !important; float: right !important;">
                                <angular2-multiselect [data]="itemList"
                                                      [(ngModel)]="selectedItems"
                                                      [settings]="settings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                      (onSelectAll)="onSelectAll($event)"
                                                      (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            &ndash;&gt;
                            <amCharts id="branchChart" [style.width.%]="100" [style.height.px]="400"></amCharts>
                            </div>-->
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Sale Reports-->
        </div>
    </div>

</div>
