<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                     Desktop Settings</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createDesktopSettingForm">
                    <div class="row" *ngIf="desktopUpdateStatus">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Name</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" formControlName="name" placeholder="Name of Setting"
                                           autocomplete="off" disabled>
                                    <div *ngIf="createDesktopSettingForm.get('name').invalid && createDesktopSettingForm.get('name').touched"
                                         class="alert alert-danger text-center">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!desktopUpdateStatus">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Name</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" formControlName="name" placeholder="Name of Setting"
                                           autocomplete="off">
                                    <div *ngIf="createDesktopSettingForm.get('name').invalid && createDesktopSettingForm.get('name').touched"
                                         class="alert alert-danger text-center">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Value</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" formControlName="value"
                                           placeholder="Value of Setting"
                                           autocomplete="off">
                                    <div *ngIf="createDesktopSettingForm.get('value').invalid && createDesktopSettingForm.get('value').touched"
                                         class="alert alert-danger text-center">
                                        Value is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createDesktopSettingForm.invalid" (click)="onSaveDesktopSetting()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSource"></i>
                    <span> Save </span>
                </button>

            </div>
        </div>
    </div>
</div>








<div class="m-content" *ngIf="role === 'NIBSS' && userRole !== 'report viewer'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span> Setting
                            </h3>
                        </div>
                    </div>
                    <!--<div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right;" (click)="onOpen()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air">
                                    Create Enroller
                                </button>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home" (click)="onSwitch('password')">Password Setting</a></li>
                        <li><a data-toggle="tab" href="#menu1" (click)="onSwitch('amount')">Bill Amount Setting</a></li>
                        <!--<li><a data-toggle="tab" href="#menu2" (click)="onSwitch('source')">Enrollment Source</a></li>
                        <li><a data-toggle="tab" href="#menu3" (click)="onSwitch('version')">Enrollment Version</a></li>
                        -->
                        <li><a data-toggle="tab" href="#menu4" (click)="onSwitch('desktopSetting')">Desktop Setting</a></li>
                    </ul>
                    <div *ngIf="list?.settingStatus === 'password'">
                        <form  [formGroup]="createForm">
                            <div class="form-group row">
                                <label for="maxLenght" class="col-sm-5 col-form-label">Maximum Length</label>
                                <div class="col-sm-7">
                                    <input type="number" (change)="preventNegative('max')"
                                           formControlName="maximumLength" class="form-control" id="maxLenght"
                                           placeholder="Maximum Length" [(ngModel)]=" settingsValues['maximumLength']">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="minLength" class="col-sm-5 col-form-label">Minimum Length</label>
                                <div class="col-sm-7">
                                    <input type="number" (change)="preventNegative('min')"
                                           formControlName="minimumLength" class="form-control" id="minLength"
                                           placeholder="Minimum Length" [(ngModel)]=" settingsValues['minimumLength']">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updatePeriod" class="col-sm-5 col-form-label">Update Period</label>
                                <div class="col-7">
                                    <input type="number" (change)="preventNegative('period')"
                                           formControlName="updatePeriod" class="form-control" id="updatePeriod"
                                           placeholder="Number of days" [(ngModel)]=" settingsValues['updatePeriod']">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="maxAllowedPassword" class="col-sm-5 col-form-label">Maximum Allowed
                                    Password</label>
                                <div class="col-7">
                                    <input type="number" (change)="preventNegative('maxAllow')"
                                           formControlName="maxAllowedPassword" class="form-control"
                                           id="maxAllowedPassword" placeholder="Maximum Allowed Password"
                                           [(ngModel)]=" settingsValues['maxAllowedPassword']">
                                </div>
                            </div>
                        </form>
                        <div style="float:right;" >
                            <button type="button" [disabled]="createForm.invalid" (click)="onSave()"
                                    class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                                <span> Save </span>
                            </button>

                        </div>
                    </div>

                    <div *ngIf="list?.settingStatus === 'amount'">
                        <form  [formGroup]="createFormBilling">
                            <div class="form-group row">
                                <label for="maxLenght" class="col-sm-5 col-form-label">Amount</label>
                                <div class="col-sm-7">
                                    <input type="number"
                                           formControlName="amount" class="form-control"
                                           placeholder="" >
                                </div>
                            </div>
                        </form>
                        <div style="float:right;" >
                            <button type="button" [disabled]="createFormBilling.invalid" (click)="onSaveBillAmount()"
                                    class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingAmount"></i>
                                <span> Save </span>
                            </button>

                        </div>
                    </div>

<!--                    <div *ngIf="list?.settingStatus === 'source'">
                        <form  [formGroup]="createFormSource">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Source</label>
                                <div class="col-sm-7">
                                    <input type="text"
                                           formControlName="source" class="form-control"
                                           placeholder="" >
                                </div>
                            </div>
                        </form>
                        <div style="float:right;" >
                            <button type="button" [disabled]="createFormSource.invalid" (click)="onSaveSource()"
                                    class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSource"></i>
                                <span> Save </span>
                            </button>

                        </div>
                    </div>

                    <div *ngIf="list?.settingStatus === 'version'">
                        <form  [formGroup]="createFormVersion">
                            <div class="form-group row">
                                <label for="maxLenght" class="col-sm-5 col-form-label">Version</label>
                                <div class="col-sm-7">
                                    <input type="text"
                                           formControlName="version" class="form-control"
                                           placeholder="" >
                                </div>
                            </div>
                        </form>
                        <div style="float:right;" >
                            <button type="button" [disabled]="createFormVersion.invalid" (click)="onSaveVersion()"
                                    class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm">
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingVersion"></i>
                                <span> Save </span>
                            </button>

                        </div>
                    </div>-->

                    <div *ngIf="list?.settingStatus === 'desktopSetting'" class="table-responsive">
                        <button class="btn btn-success float-right" style="margin: 2%" (click)="onCreateDesktopSetting()">New Desktop Setting</button>
                        <table class="table table-striped">
                            <tr class="border">
                                <td>#</td>
                                <td>Name</td>
                                <td>Value</td>
                                <td>Last Updated</td>
                                <td>Action</td>
                            </tr>
                            <tr *ngFor="let desktop of desktopSetting; let i = index">
                               <td>{{i+1}}</td>
                               <td>{{desktop?.name | removeUnderscore}}</td>
                               <td>{{desktop?.value}}</td>
                               <td>{{desktop?.updated_at}}</td>
                               <td><button class="btn btn-primary" (click)="getDesktopSettingDetails(desktop)">
                                   <i class="fa fa-edit"></i>
                               </button></td>
                            </tr>
                        </table>
                    </div>

                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>