<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Dashboard
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content" >
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="details">
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/report" style="background-color: #122b40 ;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                All Enrollments
                            </h4>
                            <br>
                            <div class="m-widget24__desc textColor">
                              &nbsp;
                            </div>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{totalEnrollment}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/agents"  style="background-color: #306754">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Agents
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Agents Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.agentCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/all-enroller" style="background-color: #2E4053">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Enrollers
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Enrollers Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.enrollerCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 hover-me" routerLink="/all-branch" style="background-color: #566573">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Branch
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
								Branch Registered
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">
                                {{details?.branchCount}}
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Sale Reports-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">

                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Reports
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div *ngIf="booleans?.loader">
                            <img src="../../../assets/img/loading.gif" style="height: 50%; width: 50%">
                        </div>
                        <div class="col-md-12">
                            <amCharts id="chartdiv" [style.width.%]="100" [style.height.px]="400"></amCharts>
                        </div>
                      <!--  <div class="col-md-7">
                            <div style="width: 20% !important; float: right !important;">
                                <angular2-multiselect [data]="itemList"
                                                      [(ngModel)]="selectedItems"
                                                      [settings]="settings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                      (onSelectAll)="onSelectAll($event)"
                                                      (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <div *ngIf="branchList?.length === 0" class="text-center">
                                No Branch Found
                            </div>
                            <amCharts id="branchChart" [style.width.%]="100" [style.height.px]="400"></amCharts>
                        </div>-->
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Sale Reports-->
        </div>
    </div>

</div>
