<div class="modal fade" id="viewModalLookup" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf="searchOption === 'Agent'">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Agent</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Username</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.username}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Employee Code</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.emailAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Title</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">First Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Last Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Middle Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.middleName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        <div *ngFor="let phone of list?.data?.user?.phoneList;"
                                             style="margin-bottom: 5px">
                                            {{phone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.user?.activated" class="label label-success">
                                            Active
                                        </span>
                                        <span *ngIf="!list?.data?.user?.activated" class="label label-danger">
                                            Deactivated
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Ward</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.ward}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Street Number</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.streetNumber}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">LGA</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.state?.name}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Institution</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.agentManager?.agentManagerInstitution?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Longitude</td>
                                    <td class="maintext viewContent">{{list?.data?.gps?.longitude}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Latitude</td>
                                    <td class="maintext viewContent">{{list?.data?.gps?.latitude}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">BVN</td>
                                    <td class="maintext viewContent">{{list?.data?.user?.bvn}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <tr>
                                        <td class="viewContent">Service Provided</td>
                                        <td class="maintext viewContent">
                                            <div *ngFor="let service of list?.data?.servicesProvided">{{service |
                                                removeUnderscore}}
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Role</td>
                                        <td class="maintext viewContent">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Description</th>
                                                </tr>
                                                <tr *ngFor="let task of list?.data?.user?.role?.tasks;">
                                                    <td>{{task?.module}}</td>
                                                    <td>{{task?.name}}</td>
                                                    <td>
                                                    <span *ngIf="task?.activated"
                                                          class="label label-success">Active</span>
                                                        <span *ngIf="!task?.activated" class="label label-danger">Inactive</span>
                                                    </td>
                                                    <td>{{task?.description}}</td>
                                                </tr>
                                                <tr *ngIf="list?.data?.user?.role?.tasks.length === 0">
                                                    <td class="text-center">No Content Found</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">User Type</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.user?.userType | removeUnderscore}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>

    <div class="modal-dialog" *ngIf="searchOption === 'Enroller'" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal"> Enroller </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table>
                                <tr>
                                    <td class="viewContent">Username</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.username}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.emailAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Title</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">First Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Last Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Middle Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.middleName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        <div *ngFor="let phone of list?.data?.user?.phoneList;"
                                             style="margin-bottom: 5px">
                                            {{phone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.user?.activated" class="label label-success">
                                            Active
                                        </span>
                                        <span *ngIf="!list?.data?.user?.activated" class="label label-danger">
                                            Deactivated
                                        </span>
                                    </td>
                                </tr>

                                <!--<tr>
                                    <td class="viewContent">Ward</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.ward}}
                                    </td>
                                </tr>-->
                                <tr>
                                    <td class="viewContent">Street Number</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.streetNumber}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">LGA</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.state?.name}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <tr>
                                <td class="viewContent">BVN</td>
                                <td class="maintext viewContent">{{list?.data?.user?.bvn}}</td>
                            </tr>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td class="viewContent">Role</td>
                                        <td class="maintext viewContent">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Description</th>
                                                </tr>
                                                <tr *ngFor="let task of list?.data?.user?.role?.tasks;">
                                                    <td>{{task?.module}}</td>
                                                    <td>{{task?.name}}</td>
                                                    <td>
                                                    <span *ngIf="task?.activated" class="label label-success">
                                                        Active
                                                    </span>
                                                        <span *ngIf="!task?.activated" class="label label-danger">
                                                        Deactivated
                                                    </span>
                                                    </td>
                                                    <td>{{task?.description}}</td>
                                                </tr>
                                                <tr *ngIf="list?.data?.user?.role?.tasks.length === 0">
                                                    <td class="text-center">No Content Found</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">User Type</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.user?.userType}}
                                        </td>
                                    </tr>

                                    <!--<tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>-->

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>




<!-- BEGIN: Header -->
<app-notification></app-notification>
<!-- BEGIN: Header -->
<header class="m-grid__item    m-header"  data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="" >
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
                        <a routerLink="/dashboard" class="m-brand__logo-wrapper">
                            <img alt="" src="./assets/app/media/img/logos/nibs.png"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END --> 			 							<!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END --> 						  			<!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_menu" style="float: left" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark"  >
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow">
                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   data-menu-submenu-toggle="click" aria-haspopup="true">
                            <a  routerLink="/dashboard" class="m-menu__link m-menu__toggle">
								<span class="m-menu__link-text">
									<h3>AGENCY BANKING PORTAL</h3>
								</span>
                             </a>
                        </li>
                    </ul>
                </div>
                <!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
                <div id="m_header_topbar" style="float: right;" class="m-topbar m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline" *ngIf="profile">
                            <li style="float: right" class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
									<span class="m-topbar__userpic">
										<img src="./assets/app/media/img/logos/dp.png" alt=""/>
									</span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                            <div class="m-card-user m-card-user--skin-dark">
                                                <div class="m-card-user__pic">
                                                    <img src="./assets/app/media/img/logos/dp.png" alt=""/>
                                                </div>
                                                <div class="m-card-user__details" *ngIf="details ">
													<span class="m-card-user__name m--font-weight-500">
														{{details?.name?.firstName}}&nbsp;&nbsp;{{details?.name?.lastName}}
													</span>
                                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                        {{details?.emailAddress}}
                                                    </a>
                                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                        {{profile?.makerCheckerType | firstLetterTopUpperCase}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light">
                                                    <li class="m-nav__section m--hide">
														<span class="m-nav__section-text">
															Section
														</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a routerLink="/profile" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                            <span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text" >
                                                                        <a routerLink="/profile">
                                                                            My Profile
                                                                        </a>
																	</span>
																</span>
															</span>
                                                        </a>
                                                    </li>

                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item" style="padding-left: 40%">
                                                        <a (click)="onLogout()" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout">
                                                            Logout
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <div style="float: right; padding-top: 3%; padding-right: 20%;" *ngIf="profile?.user?.userType === 'NIBSS' && userRole === 'report viewer'">
                                <div class=" input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <span *ngIf="searchOption ===''">Options </span>
                                            <span *ngIf="searchOption !==''">{{searchOption}}</span>
                                        </button>
                                        <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"
                                             style="width: 200px !important;">
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Agent')">Agent</a>
                                            <a class="dropdown-item showCursor" (click)="onSearchType('Enroller')">Enroller</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"  placeholder="Search for {{searchOption}}" [(ngModel)]="searchtext">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" (click)="searchMethod()" [disabled]="searchtext === ''" type="button">
                                            <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                            <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </ul>
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>
</header>
<!-- END: Header -->
