<app-notification></app-notification>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login" style="background-image: url(./assets/img/bvn.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
        <div class="m-stack centre m-stack--hor m-stack--desktop">
            <div class="m-stack__item m-stack__item--fluid">
                <div class="m-login__wrapper">
                    <div class="m-login__logo">
                        <a href="#">
                            <img class="nibss" src="./assets/app/media/img/logos/nibs.png" height="30%" width="30%">
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="ori m-login__head">
                            <h3 class="ori m-login__title" style="color: #e19900">
                                Sign In BVN Portal
                            </h3>
                        </div>
                        <form [formGroup]="changePasswordForm" novalidate class="m-login__form m-form" (submit)="changeMyPassword()">
                            <!--<ng-template #alertSignin></ng-template>-->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label style="color: white">New Password</label>
                                    <input type="password" class="form-control inputtext" placeholder="Enter New Password"
                                           formControlName="passwordNew" [(ngModel)]="password.passwordNew" autocomplete="off"
                                           (keyup)="passwordService.testPassword(password.passwordNew, minLength);" required />

                                    <div  class="text-left font-weight-bold text-danger"
                                          *ngIf="(changePasswordForm.get('passwordNew').errors && (changePasswordForm.get('passwordNew').dirty || changePasswordForm.get('passwordNew').touched))">
              <span  [hidden]="!changePasswordForm.get('passwordNew').hasError('required')">
                Password is required</span>

                                        <br *ngIf="changePasswordForm.get('passwordNew').hasError('required')">
                                        <span [hidden]="!changePasswordForm.get('passwordNew').hasError('minlength')">Password length must be greater than 7</span>

                                    </div>


                                    <div *ngIf="password['passwordNew']?.length > 7">
                                        <br *ngIf="changePasswordForm.get('passwordNew').hasError('required') || changePasswordForm.get('passwordNew').hasError('minlength')">
                                        <span class="text-left text-danger font-weight-bold" [hidden]="!(passwordService.strength <= 5)">Password Strength: WEAK</span>
                                        <span class="text-left text-warning font-weight-bold" [hidden]="!(passwordService.strength > 5 && passwordService.strength < 7)">Password Strength: GOOD</span>
                                        <span class="text-left text-success font-weight-bold" [hidden]="!(passwordService.strength >= 7)">Password Strength: STRONG</span>
                                    </div>





                            </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label style="color: white">Confirm Password</label>
                                    <input type="password" class="form-control m-input m-login__form-input--last" placeholder="Confirm Password"  formControlName="passwordAgain"  [(ngModel)]="password.passwordAgain" autocomplete="off" required />

                                    <div  class="text-left font-weight-bold text-danger"
                                          *ngIf="(changePasswordForm.get('passwordAgain').errors && (changePasswordForm.get('passwordAgain').dirty || changePasswordForm.get('passwordAgain').touched))">
              <span  [hidden]="!changePasswordForm.get('passwordAgain').hasError('required')">
                Password is required</span>

                                        <br *ngIf="changePasswordForm.get('passwordAgain').hasError('required')">
                                        <span [hidden]="!changePasswordForm.get('passwordAgain').hasError('minlength')">Password must match</span>

                                    </div>
                                    <div  class="text-left font-weight-bold text-danger"
                                          *ngIf="changePasswordForm.get('passwordAgain').touched && !changePasswordForm.get('passwordAgain').errors && password['passwordNew'] !== password['passwordAgain']">
                                        <span>Password must match</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row m-login__form-sub">
                                <div class="col m--align-right">
                                    <a href="javascript:void(0)" [routerLink]="['/login']" id="m_login_forget_password" class="homeCol">
                                        Back to Login
                                    </a>
                                </div>
                            </div>
                            <div class="m-login__form-action" *ngIf="enablePasswordInputs">
                                <button *ngIf="!loading" [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                    Reset Password
                                </button>
                                <span *ngIf="loading" class="m-loader m-loader--right m-loader--light btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                Loading...
            </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

