<app-dashboard-nibss *ngIf="role === 'NIBSS'"></app-dashboard-nibss>

<app-dashboard-mgr *ngIf="role === 'AGENT_MANAGER'"></app-dashboard-mgr>

<app-dashboard-agent *ngIf="role === 'AGENT'"></app-dashboard-agent>

<app-dashboard-enroller *ngIf="role === 'ENROLLER'"></app-dashboard-enroller>