<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Download Billing Report by date</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <span>Institution: </span>
                                    <angular2-multiselect [data]="itemListInstitution"
                                                          [settings]="settingsInstitution"
                                                          [(ngModel)]="institution1"
                                                          (onSelect)="onItemSelectInstitution($event)"
                                                          (onDeSelect)="OnItemDeSelectInstitution($event)">
                                    </angular2-multiselect>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <span>From: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate1"
                                           style="height: 40px !important; width: 100% !important; float: left !important;"
                                           ngbDatepicker #d3="ngbDatepicker" (keypress)="reject()"
                                           (click)="d3.toggle()"/>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate1" (keypress)="reject()"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d4="ngbDatepicker"
                                           (click)="d4.toggle()"/>
                                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" *ngIf="!loading" (click)="exportToCSV()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Export To CSV </span>
                </button>
                <span class="btn btn-sm  btn-info" *ngIf="loading" style="border-radius: 25px">
                    <i class="fa fa-spinner fa-spin"></i>&nbsp;
                     Loading...
                </span>

            </div>
        </div>
    </div>
</div>


<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer" (click)="onGetAllBillings(0)">Billing</span>
                                <span *ngIf="!booleans.loadsearch"> (3 days records)</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF"
                                        (click)="onOpen()"
                                        type="button"
                                        class="btn  m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export Billing
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <h5 *ngIf="searchLabel !== ''" class="text-center"><br/><br/>{{searchLabel}}</h5>
                <div class="input-group mb-3 pl-4">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                                    <span>Institution: </span>
                        <angular2-multiselect [data]="itemListInstitution"
                                              [settings]="settingsInstitution"
                                              [(ngModel)]="institution"
                                              (onSelect)="onItemSelectInstitution($event)"
                                              (onDeSelect)="OnItemDeSelectInstitution($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <span>From: </span>
                        <input class="form-control form-control-lg m-input"
                               placeholder="From Date" [(ngModel)]="fromDate"
                               style="height: 40px !important; width: 100% !important; float: left !important;"
                               ngbDatepicker #d1="ngbDatepicker" (keypress)="reject()"
                               (click)="d1.toggle()"/>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate" (keypress)="reject()"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d2="ngbDatepicker"
                                           (click)="d2.toggle()"/>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop mt-4">
                            <button (click)="searchByDate(0)" [disabled]="booleans?.loadingSearch" class="btn  btn-sm"
                                    style="width: 120px;height: 40px!important;background-color: #1c5580; color: #FFFFFF">
                                <i class="fa fa-search"></i> &nbsp;Search
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                            </button>
                        </div>
                    </div>


                </div>

                <div class="m-portlet__body table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Institution Code</th>
                            <th scope="col">Agent Count</th>
                            <!--<th scope="col">Week Start Date</th>
                            <th scope="col">End Date</th>-->
                            <th scope="col">BVN Ongoing Count</th>
                            <th scope="col">BVN Successful Count</th>
                            <th scope="col">Failed Count</th>
                            <th scope="col">Total</th>
                            <th scope="col">Amount (Income due)</th>
                            <th scope="col">Narration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.institutionCode}}</td>
                            <td>
                                {{data?.agentCount || 0}}
                            </td>
                            <!--<td>{{data?.startDate}}</td>
                            <td>{{data?.endDate}}</td>-->
                            <td>
                                {{data?.ongoingCount}}
                            </td>
                            <td>
                                {{data?.successfulCount}}
                            </td>
                            <td>
                                {{data?.failedCount || 0}}
                            </td>
                            <td>
                                <a *ngIf="+data?.total !== 0" (click)="dateRangeSearchbyLog(data?.institutionCode)"
                                   class="cursorpointer1">
                                    {{data?.total}}
                                </a>
                                <span *ngIf="data && data?.total === 0"> 0 </span>
                            </td>
                            <td>{{data?.amount || 0}}</td>
                            <td>{{data?.narration}}</td>
                        </tr>
                        <tr *ngIf="list?.allContent?.length === 0 && !booleans.loader">
                            <td colspan="10" class="text-center"> No Content Found</td>
                        </tr>
                        <tr *ngIf="booleans.loader">
                            <td colspan="10" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading Bill</td>
                        </tr>


                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>
