<!--<div class="m-content" *ngIf="role === 'NIBSS'>-->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="cursor: pointer">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span routerLink="/sync-report" class="cursorpointer">Agent Manager Sync</span>
                            </h3>
                        </div>
                    </div>
                    <div class="input-group-prepend float-right">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop mt-4">
                            <button class="btn btn-sm" routerLink="/sync-report"
                                    style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                <i class="fa fa-backward"></i> &nbsp;Back
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="input-group row">
                    <div class="row searchStyleGroup col-md-3">
                        <div class="col-md-3">&nbsp;&nbsp;</div>
                        <div class="col-md-2">
                            <div class="dropdown show m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                                <a class="btn btn-secondary dropdown-toggle  searchStyle" id="dropdownMenuLink"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    {{searchOption}}
                                </a>
                                <div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"
                                     style="width: 200px !important;">
                                    <a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>
                                    <a class="dropdown-item showCursor" (click)="onSearchType('Date')">Date</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchOption === 'Username'" style="margin-top: 2% !important;" class="input-group-prepend col-md-3">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>&nbsp; </span>
                                    <input class="form-control form-control-lg m-input"
                                           [disabled]="searchOption === 'Search Type'"
                                           placeholder="Enter {{searchOption}}" [(ngModel)]="searchtext"
                                           style="height: 40px !important; width: 60% !important;"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchOption === 'Date'" class="input-group-prepend col-md-3" style="margin-top: 2% !important;">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>&nbsp; </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate"
                                           style="height: 40px !important; width: 60% !important; float: left !important;"
                                           ngbDatepicker #d1="ngbDatepicker"
                                           (click)="d1.toggle()"/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchOption === 'Date'" style="margin-top: 2% !important;" class="input-group-prepend col-md-3">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>&nbsp;</span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate"
                                           style="height: 40px !important; width: 60% !important; float: left !important;"
                                           ngbDatepicker #d2="ngbDatepicker"
                                           (click)="d2.toggle()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop mt-4">
                            <button (click)="searchMethod(0)"
                                    [disabled]="booleans?.loadingSearch || !toDate || !fromDate" class="btn btn-sm"
                                    style="background-color: #1c5580; color: #FFFFFF; width: 120px;height: 40px!important;">
                                <i class="fa fa-search"></i> &nbsp;Search
                                <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingSearch"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Agent Code</th>
                            <th scope="col">Agent  Email</th>
                            <th scope="col">No of Sync</th>
                            <th scope="col">Phone</th>
                            <th scope="col">LGA</th>
                            <th scope="col">State</th>
                            <th scope="col">Active Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td><a>{{ member['code']}}</a></td>
                            <td>{{ member['emailAddress'] }}</td>
                            <td>{{ member['countOfSync'] }}</td>
                            <td>{{ member['phoneNumber'] }}</td>
                            <td>{{ member['lgaName'] }}</td>
                            <td>{{ member['stateName'] }}</td>
                            <td><span class="font-weight-bold"
                                      [ngClass]="((member['countOfSync'] > 0) ? 'text-success' : 'text-danger')">{{ (member['countOfSync'] > 0 ) ? 'Active': 'Inactive'}}</span>
                            </td>
                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && booleans?.loader">
                            <td colspan="8" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading Sync report(s)
                            </td>
                        </tr>
                        <tr *ngIf="list?.allContent.length === 0 && !booleans?.loader">
                            <td colspan="8" class="text-center">No Content Found</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
