

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" (click)="onSwitch(true)" style="background-color: #438D80;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Agents by States and LGA
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
                               Total Number of Agents by States and LGA
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 hover-me" (click)="onSwitch(false)" style="background-color: #145A32;">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title textColor">
                                Number of Agents by States
                            </h4>
                            <br>
                            <span class="m-widget24__desc textColor">
                                Total Number of Agents by States
							</span>
                            <div class="m--space-10"></div>
                            <br>
                            <div class="m-widget24__stats m--font-info textColor">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-lga-agentcount-report *ngIf="status"></app-lga-agentcount-report>

    <app-stateagentcount-report *ngIf="!status"></app-stateagentcount-report>
</div>