<div class="m-login__forget-password">
    <div class="ori m-login__head" style="color: #e19900">
        <h3 class="ori m-login__title">
            Reset Password
        </h3>

    </div>
    <form class="m-login__form m-form" novalidate [formGroup]="resetPasswordForm" (submit)="startPasswordReset()">

        <div class="form-group row">
           <div class="col-sm-12">
               <label style="color: white">Enter your email to reset your password:</label>
               <input class="form-control m-input" type="email" formControlName="email" placeholder="Email" [(ngModel)]="resetPassword.email"
                      autocomplete="off" required>
            <div  class="text-left font-weight-bold text-danger"
                  *ngIf="(resetPasswordForm.get('email').errors && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched))">
              <span  [hidden]="!resetPasswordForm.get('email').hasError('required')">
                Email address is required</span>

                <br *ngIf="resetPasswordForm.get('email').hasError('required')">
                <span  [hidden]="!resetPasswordForm.get('email').hasError('pattern')">
                Not a valid email address</span>

            </div>
           </div>
        </div>


        <div class="m-login__form-action">
            <button *ngIf="!loading" [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                Request
            </button>
            <span *ngIf="loading" class="m-loader m-loader--right m-loader--light btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                Loading...
            </span>
            <button [disabled]="loading" id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom btn-info">
                Cancel
            </button>
        </div>
    </form>
</div>