<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    Switching Agent
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Institution</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" (change)="onGetAgtMgr($event)">
                                        <option></option>
                                        <option *ngFor="let institution of list?.institution" [value]="institution?.id">
                                            {{institution?.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="list?.agentMgr?.length === 0 && booleans.loadingAgtMgr"
                                         class="alert alert-danger text-center">
                                        No Agent Manager for this institution
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="list?.agentMgr?.length > 0">
                                <div class="col-md-3"><label><span class="star">*</span>Agent Manager</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" formControlName="newAgentManagerId">
                                        <option *ngFor="let agentmgr of list?.agentMgr" [value]="agentmgr?.id">
                                            {{agentmgr?.name?.firstName}}&nbsp;{{agentmgr?.name?.lastName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" (click)="post()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Username</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.username}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.emailAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Title</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">First Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Last Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Middle Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.middleName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        <div *ngFor="let phone of list?.data?.user?.phoneList;"
                                             style="margin-bottom: 5px">
                                            {{phone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.user?.activated"
                                              class="label label-success">Active</span>
                                        <span *ngIf="!list?.data?.user?.activated" class="label label-danger">Inactive</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">Ward</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.ward}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Street Number</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.streetNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">LGA</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.state?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Created At</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.created_at}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Institution</td>
                                    <td class="maintext viewContent">{{list?.data?.agentManager?.agentManagerInstitution?.name}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Bank Account Number</td>
                                    <td class="maintext viewContent">{{list?.data?.agentManager?.bankAccountNumber}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Bank Code</td>
                                    <td class="maintext viewContent">{{list?.data?.agentManager?.bankCode}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">BVN</td>
                                    <td class="maintext viewContent">{{list?.data?.user?.bvn}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td class="viewContent">Latitude</td>
                                        <td class="maintext viewContent">{{list?.data?.gps?.latitude}}</td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Longitude</td>
                                        <td class="maintext viewContent">{{list?.data?.gps?.longitude}}</td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Service Provided</td>
                                        <td class="maintext viewContent">
                                            <div *ngFor="let service of list?.data?.servicesProvided">{{service |
                                                removeUnderscore}}
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Role</td>
                                        <td class="maintext viewContent">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Description</th>
                                                </tr>
                                                <tr *ngFor="let task of list?.data?.user?.role?.tasks;">
                                                    <td>{{task?.module}}</td>
                                                    <td>{{task?.name}}</td>
                                                    <td>
                                                        <span *ngIf="task?.activated"
                                                              class="label label-success">Active</span>
                                                        <span *ngIf="!task?.activated" class="label label-danger">Inactive</span>
                                                    </td>
                                                    <td>{{task?.description}}</td>
                                                </tr>
                                                <tr *ngIf="list?.data?.user?.role?.tasks.length === 0">
                                                    <td class="text-center">No Content Found</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">User Type</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.user?.userType}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>


<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption" *ngIf="profile">
                        <div class="m-portlet__head-title">
                            <h3 *ngIf="profile?.user?.userType === 'NIBSS'" class="m-portlet__head-text"
                                style="cursor: pointer">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer" (click)="onGetAllAgent(0)">{{moduleName}}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-caption" *ngIf="profile">
                        <div class="m-portlet__head-title float-right">
                            <h3 *ngIf="profile?.user?.userType === 'NIBSS'" class="m-portlet__head-text"
                                style="cursor: pointer">
                                <div *ngIf="userType === 'AUTHORIZER'" class="col-md-2 col-lg-2 col-sm-2" ngbTooltip="Download Bulk File">
                                    <button type="button" (click)="getBulkFile()"
                                            class="btn m-btn--pill m-btn--air btn-outline-info btn-lg">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>

                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class=" col-md-5">
                            <div class="input-group">
                                <!--<div class="input-group-prepend">-->
                                    <!--<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"-->
                                            <!--data-toggle="dropdown"-->
                                            <!--aria-haspopup="true" aria-expanded="false">-->
                                        <!--Options-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"-->
                                         <!--style="width: 200px !important;">-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('First Name')">First-->
                                            <!--Name</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Last Name')">Last-->
                                            <!--Name</a>-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor" (click)="onSearchType('Code')">Code</a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor"-->
                                           <!--(click)="onSearchType('Email')">Email</a>&ndash;&gt;-->
                                       <!--</div>-->
                                <!--</div>-->
                                <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-success" (click)="searchMethod(0)" [disabled]="searchtext === ''" type="button">
                                        <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                        <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                        Go
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-5 float-right">
                            <!--<button
                                    *ngIf="userType === 'OPERATOR'"
                                    style="float: right; margin-right: 2%; background-color: #1c5580; color: #FFFFFF"
                                    (click)="onOpen()"
                                    type="button"
                                    class="row btn m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air ">
                                Create {{moduleName}}
                            </button>-->
                            <div class="row" *ngIf="userRole !== 'report viewer'">
                                <div *ngIf="userType === 'AUTHORIZER'" class="col-md-9 col-lg-9 col-sm-9 m-input-icon m-input-icon--left m-input-icon--right">
                                    <div class="custom-file" ngbTooltip="Choose Bulk File">
                                        <input type="file" class="custom-file-input" id="customFile" (change)="onSelectFile()">
                                        <label *ngIf="fileName===''" class="custom-file-label" for="customFile">
                                            Choose Bulk file
                                        </label>
                                        <label *ngIf="fileName!==''" class="custom-file-label" for="customFile">
                                            {{fileName}}
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="userType === 'AUTHORIZER'" class="col-md-3 col-lg-3 col-sm-3" ngbTooltip="Upload File">
                                    <button type="button" [disabled]="fileName === '' || submitFile" (click)="submitBulkFile()"
                                            class="btn m-btn--pill m-btn--air btn-outline-info btn-lg">
                                         <i class="fa fa-upload"></i>
                                         <i *ngIf="submitFile" class="fa fa-spin fa-spinner"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Agent Code</th>
                            <!--<th scope="col">Institution</th>-->
                            <th scope="col">Inst. Name</th>
                            <th scope="col">Inst. Code</th>
                            <th scope="col">BVN</th>
                            <th scope="col">Active Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <th scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></th>
                            <td>{{data?.user?.name?.firstName}}</td>
                            <td>{{data?.user?.name?.lastName}}</td>
                            <td>{{data?.code}}</td>
                            <!--<td>{{data?.agentManager?.agentManagerInstitution?.name}}</td>-->
                            <td>{{data?.agentManager?.agentManagerInstitution?.name}}</td>
                            <td>{{data?.agentManager?.agentManagerInstitution?.code}}</td>
                            <td>{{data?.user?.bvn}}</td>
                            <td>
                                <span *ngIf="data?.user?.activated" class="label label-success">Active</span>
                                <span *ngIf="!data?.user?.activated" class="label label-danger">Inactive</span>

                            </td>
                            <td>
                                <!--<button type="button" (click)="onEdit(data)" ngbTooltip="Edit {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-success m-btn&#45;&#45;gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>-->
                                <button type="button" (click)="onView(data)" ngbTooltip="View Agent"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" (click)="onOpen(data)" *ngIf="userType === 'AUTHORIZER' && userRole !== 'report viewer'" ngbTooltip="Switch Agent"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-stack-exchange"></i>
                                </button>
                                <!--<button type="button" (click)="onViewBranch(data)" ngbTooltip="Assign Branch"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button type="button" (click)="onViewEnroller(data)" ngbTooltip="Assign Enroller"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-info m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>-->
                                <!--<button type="button" (click)="onAudit(data)"
                                        ngbTooltip="Audit for {{data?.user?.name?.firstName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Agent(s)
                            </td>
                            <td colspan="10" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
