/* You can add global styles to this file, and also import other style files */
.star {
  color: red !important;
}
.cursorpointer1{
  cursor: pointer !important;
  text-decoration: underline !important;
}
.cursorpointer:hover {
  cursor: pointer !important;
  color: #1c5580 !important;
}

.searchpointer {
  cursor: pointer !important;
  color: #FFFFFF !important;
  background-color: #1c5580 !important;
}

.table_search {
  width: 25% !important;
  float: right !important;
  margin-bottom: 10px !important;
}

.errorField {
  background-color: red !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
}

.maintext {
  padding-left: 25px !important;
  font-weight: bold !important;
}

.viewContent {
  padding: 7px !important;
}

.active2 {
  color: red !important;
  background-color: #1b6355 !important;
  font-weight: bold !important;
}

.searchStyle {
  width: 120px !important;
  margin-bottom: 3% !important;;
  background-color: #0a6aa1 !important;
  color: #FFFFFF !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.searchStyleGroup {
  margin-left: 5% !important;
  margin-bottom: -20px !important;
  margin-top: 20px !important;
}

.searchSubmit{
  width: 50px !important;
  margin-bottom: 3% !important;;
  background-color: #0a6aa1 !important;
  color: #FFFFFF !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.underline{
  text-decoration: underline !important;
}