<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Enrollers Report
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-xl-8">
                            <!--begin:: Widgets/New Users-->
                            <div class="m-portlet m-portlet--full-height ">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                Enrollers
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="m-portlet__head-tools">
                                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                            <li class="nav-item m-tabs__item">
                                                <a href="#">
                                                    <span>
                                                        <!--<i class="fa fa-download" />-->
                                                    </span>
                                                    Export CSV
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="m_widget4_tab1_content">
                                            <!--begin::Widget 14-->
                                            <div class="m-widget4">
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__img m-widget4__img--pic">
                                                        <img src="assets/app/media/img/users/100_4.jpg" alt="">
                                                    </div>
                                                    <div class="m-widget4__info">
															<span class="m-widget4__title">
																LA/IKJ/412161326358262824860
															</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																Upperlink Limited
															</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a data-toggle="modal" data-target="#viewEnrollersReport" href="#" style="color: black" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            More Info
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__img m-widget4__img--pic">
                                                        <img src="assets/app/media/img/users/100_14.jpg" alt="">
                                                    </div>
                                                    <div class="m-widget4__info">
															<span class="m-widget4__title">
																FCT/GWA/412161326358262824860
															</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																Ade and Sons.
															</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" style="color: black" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            More Info
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__img m-widget4__img--pic">
                                                        <img src="assets/app/media/img/users/100_11.jpg" alt="">
                                                    </div>
                                                    <div class="m-widget4__info">
															<span class="m-widget4__title">
																PL/JOS/412161326358262824860
															</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																Johnsons Remote Enterprise
															</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" style="color: black" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            More Info
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__img m-widget4__img--pic">
                                                        <img src="assets/app/media/img/users/100_1.jpg" alt="">
                                                    </div>
                                                    <div class="m-widget4__info">
															<span class="m-widget4__title">
																AI/UYO/412161326358262824860
															</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																WhoNoGoHost
															</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" style="color: black" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            More Info
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__img m-widget4__img--pic">
                                                        <img src="assets/app/media/img/users/100_5.jpg" alt="">
                                                    </div>
                                                    <div class="m-widget4__info">
															<span class="m-widget4__title">
																EN/ENU/412161326358262824860
															</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																Obidu Enterprise
															</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" style="color: black" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            More Info
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/New Users-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewEnrollersReport" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Enrollers Infomation</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Demography
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr class="align-content-center col-6">
                                        <td>Title</td>
                                        <td> Mr. </td>
                                    </tr>
                                    <tr class="align-content-center col-6">
                                        <td>FirstName</td>
                                        <td> John </td>
                                    </tr>
                                    <tr class="align-content-center col-6">
                                        <td>Surname</td>
                                        <td> Bello </td>
                                    </tr>
                                    <tr class="align-content-center col-6">
                                        <td>Middle</td>
                                        <td> Relax </td>
                                    </tr>
                                    <tr class="align-content-center col-6">
                                        <td>Date of Birth</td>
                                        <td> 1999-04-08T00:00:00+01:00</td>
                                    </tr>
                                    <tr class="align-content-center col-6">
                                        <td>Nationality</td>
                                        <td> Nigerian </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Bank Information
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-condensed">

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Contact Details
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    Document Upload
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Biometrics - Facial Scan
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Biometrics - Finger Print
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>