<div class="modal fade" id="viewModal_12" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Transaction Report</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="list?.data">
                <table class="table table-striped">
                    <tr>
                        <td class="viewContent"><b>Service Provided</b></td>
                        <td class="maintext viewContent">
                            Volume
                        </td>
                        <td class="maintext viewContent">
                            Value
                        </td>
                    </tr>

                    <tr>
                        <td class="viewContent">Account Opening</td>
                        <td class="maintext viewContent">
                            {{list?.data?.accountOpeningVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.accountOpeningValue}}
                        </td>
                    </tr>

                    <tr>
                        <td class="viewContent">Additional Service1</td>
                        <td class="maintext viewContent">
                            {{list?.data?.additionalService1Volume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.additionalService1Value}}
                        </td>
                    </tr>

                    <tr>
                        <td class="viewContent">Additional Service2</td>
                        <td class="maintext viewContent">
                            {{list?.data?.additionalService2Volume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.additionalService2Value}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Airtime Recharge</td>
                        <td class="maintext viewContent">
                            {{list?.data?.airtimeRechargeVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.airtimeRechargeValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Bill Payment</td>
                        <td class="maintext viewContent">
                            {{list?.data?.billPaymentVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.billPaymentValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">BVN Enrollment</td>
                        <td class="maintext viewContent">
                            {{list?.data?.bvnEnrollmentVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.bvnEnrollmentValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Cash In</td>
                        <td class="maintext viewContent">
                            {{list?.data?.cashInVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.cashInValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Cash Out</td>
                        <td class="maintext viewContent">
                            {{list?.data?.cashOutVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.cashOutValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Fund Transfer</td>
                        <td class="maintext viewContent">
                            {{list?.data?.fundTransferVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.fundTransferValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent">Others</td>
                        <td class="maintext viewContent">
                            {{list?.data?.othersVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.othersValue}}
                        </td>
                    </tr>
                    <tr>
                        <td class="viewContent"><b>Total</b></td>
                        <td class="maintext viewContent">
                            {{list?.data?.totalVolume}}
                        </td>
                        <td class="maintext viewContent">
                            {{list?.data?.totalValue}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">Export Transaction Report</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend mr-5">

                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>From: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="From Date" [(ngModel)]="fromDate"
                                           style="height: 40px !important; width: 100% !important; float: left !important;"
                                           ngbDatepicker #d3="ngbDatepicker"
                                           (click)="d3.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
						                <span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>To: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="To Date" [(ngModel)]="toDate"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"
                                           ngbDatepicker #d4="ngbDatepicker"
                                           (click)="d4.toggle()"/>
                                    <span class="m-input-icon__icon m-input-icon__icon--right showCursor">
            						<span>
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="input-group-prepend">
                        <div class="m-grid m-grid&#45;&#45;ver-desktop m-grid&#45;&#45;desktop">
                            <div class="m-grid__item m-grid__item&#45;&#45;middle">
                                <div class="m-input-icon m-input-icon&#45;&#45;fixed m-input-icon&#45;&#45;fixed-large m-input-icon&#45;&#45;right">
                                    <span>Param: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="Param" [(ngModel)]="param"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"/>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>Service Provided: </span>
                                    <select class="form-control form-control-lg m-input"
                                            style="height: 40px !important; width: 100% !important; float: right !important;"
                                            [(ngModel)]="serviceProvided">
                                        <option  value=""></option>
                                        <option *ngFor="let data of itemList" [value]="data?.id">{{data?.itemName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group-prepend">
                        <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                            <div class="m-grid__item m-grid__item--middle">
                                <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                                    <span>Agent Code: </span>
                                    <input class="form-control form-control-lg m-input"
                                           placeholder="Agent Code" [(ngModel)]="institutionCode"
                                           style="height: 40px !important; width: 100% !important; float: right !important;"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button *ngIf="modalType === 'export'" type="button" (click)="exportDownload()"
                        [disabled]="booleans?.loadingSearch || ((!toDate || !fromDate) && param === '' && institutionCode === '' && serviceProvided === '')"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Export <i *ngIf="booleans?.loadingSearch" class="fa fa-spinner fa-spin"></i> </span>
                </button>
                <button *ngIf="modalType === 'search'" type="button" (click)="getSearchLog(0)"
                        [disabled]="booleans?.loadingSearch || ((!toDate || !fromDate) && param === '' && institutionCode === '' && serviceProvided === '')"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <span> Search <i *ngIf="booleans?.loadingSearch" class="fa fa-spinner fa-spin"></i> </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="transactionReportdetails">
    <div class="col-md-6 col-lg-6 col-xl-6 hover-me" style="background-color: #3B3733">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Total Volume
                </h4>
                <br>
                <div class="m-widget24__stats m--font-info textColor">
                    {{transactionReportdetails?.totalVolume}}
                </div>
            </div>
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-6 col-lg-6 col-xl-6 hover-me" routerLink="/managers" style="background-color: #254117">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Total Value
                </h4>
                <br><br>
                <div class="m-widget24__stats m--font-info textColor">
                    {{transactionReportdetails?.totalValue}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="transactionReportdetails">
    <div class="col-md-3 col-lg-3 col-xl-3 hover-me" style="background-color: #6C7E9E">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Account Opening
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.accountOpeningVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.accountOpeningValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 hover-me" style="background-color: #0F0F40">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Airtime Recharge
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.airtimeRechargeVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.airtimeRechargeValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 hover-me" style="background-color: #633E9B">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Bill Payment
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.billPaymentVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.billPaymentValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 hover-me" style="background-color: #1B4571">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    BVN Enrollment
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.bvnEnrollmentVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.bvnEnrollmentValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
</div>

<div class="row m-row--no-padding m-row--col-separator-xl" *ngIf="transactionReportdetails">
    <div class="col-md-4 col-lg-4 col-xl-4 hover-me" style="background-color: #3A3150">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Cash In
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.cashInVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.cashInValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 hover-me" style="background-color: #100627">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Cash Out
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.cashOutVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.cashOutValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 hover-me" style="background-color: #14101E">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title textColor">
                    Fund Transfer
                </h4>
                <br>
                <div class="m-widget24__desc textColor">
                    Total Volume
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.fundTransferVolume}}</span>
                </div>
                <div class="m-widget24__desc textColor">
                    Total Value
                    <span style="float: right; padding-right: 5% !important;">{{transactionReportdetails?.fundTransferValue}}</span>
                </div>
                <br>
            </div>
        </div>
        <!--end::New Users-->
    </div>

</div>

<div class="m-content">

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span (click)="getAllReport(0)">Transaction Report </span>
                                <span *ngIf="search.param !== ''">/ {{search.param | removeUnderscore}}</span>
                                <span *ngIf="search.institutionCode !== ''">/ {{search.institutionCode | removeUnderscore}}</span>
                                <span *ngIf="search.serviceProvided !== ''">/ {{search.serviceProvided | removeUnderscore}}</span>
                            </h3>
                            <!--<h3 class="m-portlet__head-text" *ngIf="userType === 'OPERATOR'"
                                style="cursor: pointer">
                                <div class="col-md-2 col-lg-2 col-sm-2" ngbTooltip="Download Bulk File">
                                    <button type="button" (click)="getBulkFile()"
                                            class="btn m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-outline-info btn-lg">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                            </h3>-->
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF"
                                        (click)="onExport()"
                                        type="button"
                                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <i class="fa fa-cloud-download"></i>
                                    Export
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="m-portlet__body table-responsive">
                    <button style="float: right; margin-bottom: 5px; background-color: #1c5580; color: #FFFFFF" (click)="onModalSearchType()"
                            type="button"
                            class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                        <i class="fa fa-search"></i>
                        Search
                    </button>

                    <div class="row" >
                        <!--<div *ngIf="userType === 'OPERATOR'" class="col-md-6 col-lg-6 col-sm-6 m-input-icon m-input-icon&#45;&#45;left m-input-icon&#45;&#45;right">
                            <div class="custom-file" ngbTooltip="Choose Bulk File">
                                <input type="file" class="custom-file-input" id="customFile" (change)="onSelectFile()">
                                <label *ngIf="fileName===''" class="custom-file-label" for="customFile">
                                    Choose Bulk file
                                </label>
                                <label *ngIf="fileName!==''" class="custom-file-label" for="customFile">
                                    {{fileName}}
                                </label>
                            </div>
                        </div>
                        <div *ngIf="userType === 'OPERATOR'" class="col-md-3 col-lg-3 col-sm-3" ngbTooltip="Upload File">
                            <button type="button" [disabled]="fileName === '' || submitFile" (click)="submitBulkFile()"
                                    class="btn m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-outline-info btn-lg">
                                <i class="fa fa-upload"></i>
                                <i *ngIf="submitFile" class="fa fa-spin fa-spinner"></i>
                            </button>
                        </div>-->
                    </div>

                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Agent</th>
                            <th scope="col">Code</th>
                            <th scope="col">Total Value</th>
                            <th scope="col">Total Volume</th>
                            <th scope="col" *ngIf="modalType === ''">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.name}}</td>
                            <td>{{data?.code}}</td>
                            <td>{{data?.totalValue}}</td>
                            <td>{{data?.totalVolume}}</td>
                            <td *ngIf="modalType === ''">
                                <button class="btn btn-info" (click)="onOpenModal(data)"><i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="16" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Enrollment(s)
                            </td>
                            <td colspan="16" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>