<div class="modal fade" id="SwitchModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    Switching Agent Manager
                    </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="switchForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Institution</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" formControlName="newInstitutionId">
                                        <option></option>
                                        <option *ngFor="let institution of list?.institution" [value]="institution?.id">
                                            {{institution?.name}}
                                        </option>
                                    </select>
                                    <div *ngIf=" booleans.loadingInstitution"><i class="fa fa-spin fa-spinner"></i></div>
                                    <div *ngIf=" !booleans.loadingInstitution && list?.institution?.length === 0" class="alert alert-danger text-center">
                                        No Institution found
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" data-dismiss="modal" aria-label="Close"
                         class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="switchForm.invalid" (click)="postSwitch()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">
                    <span *ngIf="!booleans?.showUpdate">New</span>
                    <span *ngIf="booleans?.showUpdate">Update</span>
                    {{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>
                                    Bank Account Number</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input minlength="10" maxlength="10" class="form-control m-input" type="text"
                                           placeholder="Bank Account No."
                                           formControlName="bankAccountNumber"
                                           autocomplete="off">
                                    <div *ngIf="(createForm.get('bankAccountNumber').invalid && createForm.get('bankAccountNumber').touched ) || createForm.get('bankAccountNumber').hasError('minLength') "
                                         class="alert alert-danger text-center">
                                        Bank Account No. must be 10 digit
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Bank</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" type="text"
                                            formControlName="bankCode">
                                        <option *ngFor="let bank of list?.allBanks" [value]="bank?.code">
                                            {{bank?.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="createForm.get('bankCode').invalid && createForm.get('bankCode').touched"
                                         class="alert alert-danger text-center">
                                        Bank is Required
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-3"><label>BVN</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="BVN"
                                           formControlName="bvn"
                                           maxlength="11" minlength="11"
                                           autocomplete="off">
                                    <div *ngIf="((createForm.get('bvn').invalid && createForm.get('bvn').touched))|| createForm.get('bvn').hasError('minLength') "
                                         class="alert alert-danger text-center">
                                        BVN must be 11 digits.
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="name">
                                <div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Title</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <select class="form-control m-input" type="text" placeholder="Title"
                                                formControlName="title">
                                            <option></option>
                                            <option>DR</option>
                                            <option>MR</option>
                                            <option>MRS</option>
                                            <option>MISS</option>
                                            <option>PROF</option>
                                            <option>CHIEF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>First Name</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="First Name"
                                               formControlName="firstName"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label><span class="star">*</span>Last Name</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="Last Name"
                                               formControlName="lastName"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="text-truncate">Middle Name</label></div>
                                    <div class="form-group m-form__group col-md-9">
                                        <input class="form-control m-input" type="text" placeholder="Middle Name"
                                               formControlName="middleName"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>User Authorisation Type</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <table class="table" style="border: 0">
                                        <tr>
                                            <td><label>Authorizer</label></td>
                                            <td><input  type="radio"
                                                        formControlName="userAuthorisationType"  [value]="'AUTHORIZER'" >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Operator</label></td>
                                            <td>
                                                <div class="form-group m-form__group">
                                                    <input  type="radio"
                                                            formControlName="userAuthorisationType" [value]="'OPERATOR'" >
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <!--<div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Auto Generate Code</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <table class="table" style="border: 0">
                                        <tr>
                                            <td><label>Activate</label></td>
                                            <td><input  type="radio" placeholder="code"
                                                        formControlName="autoGeneratedCode"  [value]="true" >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Deactivate</label></td>
                                            <td>
                                                <div class="form-group m-form__group">
                                                    <input  type="radio" placeholder="code"
                                                            formControlName="autoGeneratedCode" [value]="false" >
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <div class="row" *ngIf="createForm.value['autoGeneratedCode'] === false">
                                <div class="col-md-3"><label><span class="star">*</span>Code</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" minlength="5" maxlength="5" placeholder="code"
                                           formControlName="code">
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Phone</label></div>
                                <div class="form-group m-form__group col-md-9" formArrayName="phoneList">
                                    <div *ngFor="let control of createForm.get('phoneList')?.controls; let i = index"
                                         style="margin-bottom: 5px">
                                        <input class="form-control m-input" style="float: left; width: 95%"
                                               type="text"
                                               placeholder="Phone"
                                               [formControlName]="i"
                                               autocomplete="off">
                                        <div style="float: right" *ngIf="i !== 0" (click)=onRemovePhone(i)><i
                                                class="fa fa-times"
                                                style="color: red"></i>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div *ngIf="!booleans?.phoneLimit">
                                        <button (click)="onAddPhoneList()"
                                                class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                            Add More Phone
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Username</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Username"
                                           [readonly]="booleans?.showUpdate"
                                           formControlName="username"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('username').invalid && createForm.get('username').touched"
                                         class="alert alert-danger text-center">
                                        Username is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Email</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Email"
                                           formControlName="emailAddress"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('emailAddress').invalid && createForm.get('emailAddress').touched"
                                         class="alert alert-danger text-center">
                                        Email is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Institution</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <select class="form-control m-input" formControlName="institutionCode">
                                        <option></option>
                                        <option *ngFor="let institution of list?.institution" [value]="institution.code">
                                            {{institution?.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="createForm.get('institutionCode').invalid && createForm.get('institutionCode').touched"
                                         class="alert alert-danger text-center">
                                        Institution is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Street Address</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Street Address"
                                           formControlName="streetNumber"
                                           autocomplete="off">
                                    <div *ngIf="createForm.get('streetNumber').invalid && createForm.get('streetNumber').touched"
                                         class="alert alert-danger text-center">
                                        Street Address is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>City</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" placeholder="City"
                                           formControlName="city"/>
                                    <div *ngIf="createForm.get('city').invalid && createForm.get('city').touched"
                                         class="alert alert-danger text-center">
                                        City is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>State</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListState"
                                                          [settings]="settingsState"
                                                          formControlName="state"
                                                          (onSelect)="onItemSelectState($event)"
                                                          (onDeSelect)="OnItemDeSelectState($event)"
                                                          (onSelectAll)="onSelectAllState($event)"
                                                          (onDeSelectAll)="onDeSelectAllState($event)">
                                    </angular2-multiselect>
                                    <div *ngIf="list?.allState?.length === 0" class="text-center" style="color: red">
                                        No State Found
                                    </div>
                                    <span *ngIf="booleans?.lgaStatus && list?.allState?.length > 0"><i
                                            class="fa fa-spinner fa-spin"></i> Loading LGA
                                    </span>
                                </div>
                            </div>

                            <div class="row" *ngIf="list?.allLga?.length > 0">
                                <div class="col-md-3"><label><span class="star">*</span>Lga</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListLga"
                                                          [settings]="settingsLga"
                                                          formControlName="lgaId"
                                                          [(ngModel)]="lgaId"
                                                          (onSelect)="onItemSelectLga($event)"
                                                          (onDeSelect)="OnItemDeSelectLga($event)"
                                                          (onSelectAll)="onSelectAllLga($event)"
                                                          (onDeSelectAll)="onDeSelectAllLga($event)">
                                    </angular2-multiselect>
                                    <div *ngIf="booleans?.emptyLga" class="text-center" style="color: red">
                                        No LGA Found
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label><span class="star">*</span>Role</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <angular2-multiselect [data]="itemListRole"
                                                          [settings]="settingsRole"
                                                          formControlName="roleId"
                                                          (onSelect)="onItemSelectRole($event)"
                                                          (onDeSelect)="OnItemDeSelectRole($event)"
                                                          (onSelectAll)="onSelectAllRole($event)"
                                                          (onDeSelectAll)="onDeSelectAllRole($event)">
                                    </angular2-multiselect>
                                    <div *ngIf="list?.roles?.length === 0" class="text-center" style="color: red">
                                        No Role Found
                                    </div>
                                    <div *ngIf="createForm.get('roleId').invalid && createForm.get('roleId').touched"
                                         class="alert alert-danger text-center">
                                        Role is Required
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3"><label>Additional Info 1</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Additional Info 1"
                                           formControlName="additionalInfo1"
                                           autocomplete="off">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label>Additional Info 2</label></div>
                                <div class="form-group m-form__group col-md-9">
                                    <input class="form-control m-input" type="text" placeholder="Additional Info 2"
                                           formControlName="additionalInfo2"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>
                <button type="button" [disabled]="createForm.invalid" (click)="insert()"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    <i class="fa fa-spinner fa-spin" *ngIf="booleans?.loadingStatus"></i>
                    <span *ngIf="!booleans?.showUpdate"> Save </span>
                    <span *ngIf="booleans?.showUpdate"> Update </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModalAgtMgr"  tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal">{{moduleName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngb-tabset>
                    <ngb-tab title="Personal Details">
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Username</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.username}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Employee Code</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Email</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.emailAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Title</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">First Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Last Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Middle Name</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.name?.middleName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Phone</td>
                                    <td class="maintext viewContent">
                                        <div *ngFor="let phone of list?.data?.user?.phoneList;"
                                             style="margin-bottom: 5px">
                                            {{phone}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">Status</td>
                                    <td class="maintext viewContent">
                                        <span *ngIf="list?.data?.user?.activated" class="label label-success">
                                            Active
                                        </span>
                                        <span *ngIf="!list?.data?.user?.activated" class="label label-danger">
                                            Deactivated
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="viewContent">City</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">LGA</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="viewContent">State</td>
                                    <td class="maintext viewContent">
                                        {{list?.data?.user?.contactDetails?.lga?.state?.name}}
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Bank Details</ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-striped">
                                <tr>
                                    <td class="viewContent">Institution</td>
                                    <td class="maintext viewContent">{{list?.data?.agentManagerInstitution?.name}}</td>
                                </tr>
                                <!--<tr>
                                    <td class="viewContent">Bank Account Number</td>
                                    <td class="maintext viewContent">{{list?.data?.bankAccountNumber}}</td>
                                </tr>-->
                                <tr>
                                    <td class="viewContent">Bank Code</td>
                                    <td class="maintext viewContent">{{list?.data?.bankCode}}</td>
                                </tr>
                                <tr>
                                    <td class="viewContent">BVN</td>
                                    <td class="maintext viewContent">{{list?.data?.user?.bvn}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Other Details</ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <!--<tr>
                                        <td class="viewContent">Service Provided</td>
                                        <td class="maintext viewContent">
                                            <div *ngFor="let service of list?.data?.servicesProvided">{{service | removeUnderscore}}</div></td>
                                    </tr>-->

                                    <tr>
                                        <td class="viewContent">Role</td>
                                        <td class="maintext viewContent">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Description</th>
                                                </tr>
                                                <tr *ngFor="let task of list?.data?.user?.role?.tasks;">
                                                    <td>{{task?.module}}</td>
                                                    <td>{{task?.name}}</td>
                                                    <td>
                                                    <span *ngIf="task?.activated"
                                                          class="label label-success">Active</span>
                                                        <span *ngIf="!task?.activated" class="label label-danger">Inactive</span>
                                                    </td>
                                                    <td>{{task?.description}}</td>
                                                </tr>
                                                <tr *ngIf="list?.data?.user?.role?.tasks.length === 0">
                                                    <td class="text-center">No Content Found</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">User Type</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.user?.userType | removeUnderscore}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="viewContent">Additional Info 1</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo1}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="viewContent">Additional Info 2</td>
                                        <td class="maintext viewContent">
                                            {{list?.data?.additionalInfo2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>


                </ngb-tabset>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close"
                        class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
                    Close
                </button>

            </div>
        </div>
    </div>
</div>

<div class="m-content" *ngIf="role === 'NIBSS'">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title" style="width: 100% !important;">
                                <h3 class="m-portlet__head-text">
                                    <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                    <span (click)="onGetAgtMgr(0)" class="cursorpointer">{{moduleName}}</span>
                                </h3>
                                <div class="m-portlet__head-title float-right" *ngIf="userRole !== 'report viewer'">
                                    <h3 class="m-portlet__head-text">
                                        <button class="btn btn-success" routerLink="mgr/approved">Approved</button>
                                        <button class="btn btn-warning" routerLink="mgr/pending">Pending</button>
                                        <button class="btn btn-danger" routerLink="mgr/disapproved">Disapproved</button>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--<div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <span class="cursorpointer" routerLink="/dashboard">Dashboard/ </span>
                                <span class="cursorpointer" (click)="onGetAgtMgr(0)">{{moduleName}}s</span>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools" *ngIf="list?.tasks?.indexOf('createAgentManager') > -1">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button style="float: right; background-color: #1c5580; color: #FFFFFF" (click)="onOpen()"
                                        type="button"
                                        class="btn  m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air">
                                    Create {{moduleName}}
                                </button>
                            </li>
                        </ul>
                    </div>-->
                </div>

                <div style="clear: both"></div>
                <div class="m-portlet__body table-responsive">
                    <div class="row">
                        <div class=" col-md-6">
                            <div class=" input-group">
                                <!--<div class="input-group-prepend">-->
                                    <!--<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuLink"-->
                                            <!--data-toggle="dropdown"-->
                                            <!--aria-haspopup="true" aria-expanded="false">-->
                                        <!--Options-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu cursorpointer" aria-labelledby="dropdownMenuLink"-->
                                         <!--style="width: 200px !important;">-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Username')">Username</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('First Name')">First Name</a>-->
                                        <!--<a class="dropdown-item showCursor" (click)="onSearchType('Last Name')">Last Name</a>-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor" (click)="onSearchType('Code')">Code</a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<a class="dropdown-item showCursor"-->
                                           <!--(click)="onSearchType('Email')">Email</a>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-success" (click)="searchMethod(0)" [disabled]="searchtext === ''" type="button">
                                        <i class="fa fa-search" *ngIf="!this.booleans.loadingSearch"></i>
                                        <i class="fa fa-spin fa-spinner" *ngIf="this.booleans.loadingSearch"></i>
                                        Go
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3" >
                            <button
                                    *ngIf="userType === 'OPERATOR' && userRole !== 'report viewer'"
                                    style="float: right;margin-right: 4%; background-color: #1c5580; color: #FFFFFF"
                                    (click)="onOpen()"
                                    type="button"
                                    class="row btn m-btn m-btn--custom m-btn--icon m-btn--air">
                                Create {{moduleName}}
                            </button>
                        </div>
                    </div><br>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Institution</th>
                            <th scope="col">Inst. Code</th>
                            <!--<th scope="col">Bank Account</th>-->
                            <!--<th scope="col">Bank Code</th>-->
                            <th scope="col">BVN</th>
                            <!--<th scope="col">Email</th>-->
                            <th scope="col">Active Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of list?.allContent| paginate: {itemsPerPage: 10,currentPage: p, totalItems: totalElement}; let i = index">
                            <td scope="row"><span *ngIf="(p-1)!== 0 && i!==9">{{p-1}}</span><span
                                    *ngIf="i!==9">{{i+1}}</span><span *ngIf="i===9">{{p}}0</span></td>
                            <td>{{data?.user?.name?.firstName}}</td>
                            <td>{{data?.user?.name?.lastName}}</td>
                            <td>{{data?.code}}</td>
                            <td>{{data?.agentManagerInstitution?.name}}</td>
                            <td>{{data?.agentManagerInstitution?.code}}</td>
                            <!--<td>{{data?.bankAccountNumber}}</td>-->
                            <!--<td>{{data?.bankCode}}</td>-->
                            <td>{{data?.user?.bvn}}</td>
                            <!--<td>{{data?.user?.emailAddress}}</td>-->
                            <td *ngIf="userType === 'OPERATOR' || userRole === 'report viewer'">
                                <span *ngIf="data?.user?.activated" class="label label-success">
                                    Active
                                </span>
                                <span *ngIf="!data?.user?.activated" class="label label-danger">
                                    Deactivated
                                </span>
                            </td>
                            <td *ngIf="userType === 'AUTHORIZER' && userRole !== 'report viewer'">
                                <switch
                                        [status]="data?.user?.activated"
                                        [onText]="'On'"
                                        [offText]="'Off'"
                                        [onColor]="'green'"
                                        [offColor]="'red'"
                                        [size]="'mini'"
                                        [disabled]="false"
                                        (statusChange)="insertForm('toggle', data)">
                                </switch>
                            </td>
                            <td>
                                <button type="button" *ngIf="list?.tasks?.indexOf('updateAgentManager') > -1 && userType ==='OPERATOR'"
                                        (click)="onEdit(data)" ngbTooltip="Edit {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" (click)="onView(data)" ngbTooltip="View {{moduleName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" (click)="onViewAgent(data)" ngbTooltip="Assign Agent"
                                        placement="bottom" *ngIf="role === 'AGENT_MANAGER'"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button type="button" (click)="switch(data)" *ngIf="userType === 'AUTHORIZER' && userRole !== 'report viewer'" ngbTooltip="Switch Agent Manager"
                                        placement="bottom"
                                        class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                    <i class="fa fa-stack-exchange"></i>
                                </button>
                                <!--<button type="button" (click)="onAudit(data)"
                                        ngbTooltip="Audit for {{data?.user?.name?.firstName}}"
                                        placement="bottom"
                                        class="btn m-btn m-btn&#45;&#45;gradient-from-primary m-btn&#45;&#45;gradient-to-info">
                                    <i class="fa fa-arrow-right"></i>
                                </button>-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-center" *ngIf="booleans?.loader"><i
                                    class="fa fa-spinner fa-spin"></i> loading Agent Manager(s)
                            </td>
                            <td colspan="9" class="text-center"
                                *ngIf="!booleans?.loader && list?.allContent.length === 0">No Content Found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    <!--begin: Datatable
                    <div class="m_datatable" id="m_datatable_latest_orders"></div>
                    end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
